<!-- pagetop -->
<p class="pagetop"><a th:href="@{#}">TOP</a></p>
<!-- /pagetop -->
<div id="d_footer"><div class="wrap"><!--FOOTER-->
	<div id="d_fn">
		<div>
			<div class="dfTitle">CATEGORY</div>
			<ul>
				<li><a th:href="@{/goods/list.html?cid=c-sika}" id="go-List-C-Sika-f">歯科関連用品</a></li>
				<li><a th:href="@{/goods/list.html?cid=c-giko}" id="go-List-C-Giko-f">技工関連用品</a></li>
				<li><a th:href="@{/goods/list.html?cid=c-sale}" id="go-List-C-Sale-f">セール</a></li>
			</ul>
		</div>
		<div>
			<div class="dfTitle">GUIDE</div>
			<ul>
				<li><a th:href="@{/guide/member.html}" id="go-Member-f">会員について</a></li>
				<li><a th:href="@{/inquiry/index.html}" id="go-Inquiry-f">お問い合わせ</a></li>
				<li><a th:href="@{/guide/order.html}" id="go-Method-f">ご注文について</a></li>
				<li><a th:href="@{/special.html?fkey=companyinfo_jp&menu=no}" id="go-Lp-Companyinfo-Jp-f">会社概要</a></li>
				<li><a th:href="@{/guide/payment.html}" id="go-Payment-f">お支払い/配送について</a></li>
				<li><a th:href="@{/special.html?fkey=companyinfo_eng&menu=no}" id="go-Lp-Companyinfo-Eng-f">Corporate Profile</a></li>
				<li><a th:href="@{/guide/law.html}" id="go-Law-f">特定商取引法に基づく表記</a></li>
				<li><a th:href="@{/special.html?fkey=sitemap}" id="go-Sp-Sitemap-f">サイトマップ</a></li>
				<li><a th:href="@{/guide/privacy.html}" id="go-Privacy-f">プライバシーポリシー</a></li>
			</ul>
		</div>
		<div>
			<div class="dfTitle">P.D.R.DESK</div>
			<p>
				TEL：<!--<span class="telIcon">--> 0120-108648(9:00～17:00 日祝休)<!--</span>--><br/>FAX：<!--<span class="telIcon">--> 0120-108649(24時間/年中無休)<!--</span>--><br />
			</p>
			<div class="snsIcon">
				<a href="https://www.facebook.com/pdr.co.jp" target="_blank"><img th:src="@{/images/footer/facebook.png}" alt=""/></a>
				<a href="https://line.me/R/ti/p/%40fme5139a" target="_blank"><img th:src="@{/images/footer/line.png}" alt=""/></a>
				<a href="https://www.instagram.com/pdr_dental/" target="_blank"><img th:src="@{/images/footer/insta.png}" alt=""/></a>
			</div>
		</div>
	</div>
	<p id="d_copyright">Copyright(C) P.D.R. Co.,Ltd. All Rights Reserved.</p>
<!--FOOTER-->
</div></div>
