<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/848019204/?guid=ON&amp;script=0"/>
</div>
JavaScriptを有効にしてください
</noscript>

<div id="d_header">
	<div class="wrap">
		<!--HEADER-->
		<h1 class="orderlogo"><a th:href="@{/index.html}" id="go-Home-logo"><img th:src="@{/images/header/logo.gif}" alt="ピーディーアールオンラインショップ" width="106" height="82" /></a></h1>
		<!--HEADER-->
	</div>
</div>

<input id="appComplementUrl" type="hidden" th:value="${@environment.getProperty('app.complement.url')}"/>
<input id="staticComplementUrl" type="hidden" th:value="${@environment.getProperty('static.complement.url')}"/>
<input id="goodsImagePath" type="hidden" th:value="${@environment.getProperty('images.path.goods')}"/>
