<div id="d_side"><!--SIDE-->
	<form id="sideMenuForm">
		<div id="d_gdn">
			<p><a th:href="@{/guide/shop.html}" id="go-Shop-gdn">ショップについて</a></p>
			<ul>
				<li><a th:href="@{/guide/shop.html#s1}" id="go-Shop-1-gdn">初めての方へ</a></li>
				<li><a th:href="@{/guide/agreement.html}" id="go-Agreement-gdn">ご利用規約</a></li>
				<li><a th:href="@{/guide/shop.html#s2}" id="go-Shop-2-gdn">動作環境について</a></li>
			</ul>
			<p><a th:href="@{/guide/order.html}" id="go-Order-gdn">ご注文について</a></p>
			<ul>
				<li><a th:href="@{/guide/order.html#o1}" id="go-Order-1-gdn">お買い物方法</a></li>
				<li><a th:href="@{/guide/order.html#o2}" id="go-Order-2-gdn">返品・交換について</a></li>
				<li><a th:href="@{/guide/order.html#o3}" id="go-Order-3-gdn">医薬品・医療機器のご注文について</a></li>
				<li><a th:href="@{/guide/reserve.html}" id="go-Reserve-1-gdn">予約の注文方法について</a></li>
			</ul>
			<p><a th:href="@{/guide/commodity.html}" id="go-Commodity-gdn">商品について</a></p>
			<ul>
				<li><a th:href="@{/guide/commodity.html#c1}" id="go-Commodity-1-gdn">商品検索</a></li>
				<li><a th:href="@{/guide/commodity.html#c2}" id="go-Commodity-2-gdn">アイコンについて</a></li>
				<li><a th:href="@{/guide/commodity.html#c3}" id="go-Commodity-3-gdn">商品ページの画像</a></li>
			</ul>
			<p><a th:href="@{/guide/payment.html}" id="go-Payment-gdn">お支払い・配送について</a></p>
			<ul>
				<li><a th:href="@{/guide/payment.html#p1}" id="go-Payment-1-gdn">お支払い金額</a></li>
				<li><a th:href="@{/guide/payment.html#p2}" id="go-Payment-2-gdn">お支払い方法</a></li>
				<li><a th:href="@{/guide/payment.html#p8}" id="go-Payment-8-gdn">領収書について</a></li>
				<li><a th:href="@{/guide/payment.html#p3}" id="go-Payment-3-gdn">送料について</a></li>
				<li><a th:href="@{/guide/payment.html#p4}" id="go-Payment-4-gdn">配送について</a></li>
				<li><a th:href="@{/guide/payment.html#p5}" id="go-Payment-5-gdn">商品のお届け時期について</a></li>
				<li><a th:href="@{/guide/payment.html#p6}" id="go-Payment-6-gdn">海外へのお届けについて</a></li>
			</ul>
			<p><a th:href="@{/guide/member.html}" id="go-Member-gdn">会員について</a></p>
			<ul>
				<li><a th:href="@{/guide/member.html#m1}" id="go-Member-1-gdn">会員登録方法</a></li>
				<li><a th:href="@{/guide/member.html#m2}" id="go-Member-2-gdn">会員情報の変更</a></li>
				<li><a th:href="@{/guide/member.html#m3}" id="go-Member-3-gdn">メールアドレスの変更</a></li>
				<li><a th:href="@{/guide/member.html#m4}" id="go-Member-4-gdn">パスワードの変更</a></li>
				<li><a th:href="@{/guide/member.html#m5}" id="go-Member-5-gdn">パスワードをお忘れの方</a></li>
				<li><a th:href="@{/guide/member.html#m6}" id="go-Member-6-gdn">お気に入りリスト</a></li>
				<li><a th:href="@{/guide/member.html#m7}" id="go-Member-7-gdn">お届け先リスト</a></li>
			</ul>
			<p><a th:href="@{/guide/faq.html}" id="go-Faq-gdn">よくある質問Q&amp;A</a></p>
			<p><a th:href="@{/inquiry/index.html}" id="go-Inquiry-gdn">お問い合わせ</a></p>
			<p><a th:href="@{/guide/privacy.html#p1}" id="go-Privacy-1-gdn">セキュリティーポリシー</a></p>
			<p><a th:href="@{/guide/privacy.html#p2}" id="go-Privacy-2-gdn">プライバシーポリシー</a></p>
			<p><a th:href="@{/guide/law.html}" id="go-Law-gdn">特定商取引法に基づく表記</a></p>
			<div class="guideBack"><a th:href="@{/guide/}" id="go-Top-gdn">ご利用ガイドトップ</a></div>
		</div>
	</form><!--SIDE-->
</div>
