<div id="d_side">
	<!--SIDE-->
	<form id="sideMenuForm">
		<div id="d_ln">
			<div class="sideTitle">CATEGORY</div>
			<div class="categoryList">
				<script type="text/javascript" th:src="@{/common/js/category_export.js}"></script>
				<ul class="categoryListInner">
				</ul>
			</div>
		</div>
		<div class="sideText">
			<div class="sideTitle">P.D.R. DESK</div>
			<p class="sideTel">
				TEL：<!--<span class="telIcon">-->0120-108648<!--</span>--><br />
				9:00～17:00(日祝休)<br />
				FAX：<!--<span class="telIcon">-->0120-108649<!--</span>--><br />
				(24時間/年中無休)
			</p>
		</div>
		<hm:freearea key="side_info1"/>
		<hm:freearea key="side_info2"/>
	</form>
	<!--SIDE-->
</div>
