<div id="d_side">
	<!--SIDE-->
	<div id="d_mn">
		<ul>
			<li class="p-favorite"><a th:href="@{/member/favorite/index.html}" id="go-Member-Favorite-mn">お気に入りリスト</a></li>
			<li class="p-abook"><a th:href="@{/member/abook/index.html}" id="go-Member-Address-mn">お届け先リスト</a></li>
			<!--
			<li class="p-subscription1"><a th:href="@{/member/subscription/confirm.html}" id="go-Member-Subscription-mn">定期便の確認</a></li>
			<li class="p-subscription2"><a th:href="@{/member/subscription/edit.html}" id="go-Member-Subscription-mn-1">定期便の申込み・変更</a></li>
			 -->
			<li class="p-history"><a th:href="@{/member/history/shipped.html}" id="go-Member-History-mn">注文履歴（発送済）</a></li>
			<li class="p-history2"><a th:href="@{/member/history/unshipped.html}" id="go-Member-History-mn-1">注文履歴（発送前）</a></li>
			<li class="p-pass"><a th:href="@{/member/pass/index.html}" id="go-Member-Password-mn">パスワードの変更</a></li>
			<li class="p-mail"><a th:href="@{/member/mail/index.html}" id="go-Member-Mail-mn">メールアドレスの変更</a></li>
			<li class="p-confirm"><a th:href="@{/member/confirm/index.html}" id="go-Member-Confirm-mn">ご登録内容</a></li>
			<li class="p-inquiry"><a th:href="@{/inquiry/index.html}" id="go-Inquiry-min">お問い合わせ</a></li>
			<!-- 2023-renew No24 from here -->
			<li class="p-coupon"><a th:href="@{/member/coupon/index.html}" id="go-Member-Coupon-mn">クーポンー覧</a></li>
			<!-- 2023-renew No24 to here -->
			<!-- 2023-renew No60 from here -->
			<li class="p-payment"><a th:href="@{/member/card/index.html}" id="go-Member-Card-mn">カード情報</a></li>
		    <!-- 2023-renew No60 to here -->
		</ul>
		<div class="mypageTop"><a th:href="@{/member/index.html}" id="go-Member-Top-mn">マイページトップ</a></div>
	</div>
	<!--SIDE-->
</div>
