<!-- PDR Migrate Customization from here-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      lang="ja">
<head>
    <meta th:replace="~{include/head}"/>
    <!--/* TODO-HM4　<link rel="canonical" id="goSSLCanonical"/>  */-->
</head>

<body id="d_guide">
<a id="top" name="top"></a>

<div id="d_layout"><span><!--LAYOUT--></span>
    <div id="layoutHeader" th:replace="~{include/header}"></div>

    <div class="topic_path">
        <p id="d_topic_path"><a th:href="@{/index.html}" id="goTopPage">TOP</a> &gt; ご利用ガイド</p>
    </div>

    <div id="d_container">
        <div class="wrap"><span><!--CONTAINER--></span>
            <h2 class="ctTitle">ご利用ガイド</h2>
            <div id="layoutSidemenu" th:replace="~{include/sidemenuguide}"></div>
            <div id="d_main">
                <div class="shop"><span><!--MAIN--></span>
                    <div class="gSection mt0">
                        <h3 class="mTitle">ショップについて</h3>
                        <div id="d_gsn">
                            <ul>
                                <li><a th:href="@{/guide/shop.html#s1}" id="go-Guide-shop-1">初めての方へ</a></li>
                                <li><a th:href="@{/guide/agreement.html}" id="go-Guide-agreement">ご利用規約</a></li>
                                <li><a th:href="@{/guide/shop.html#s2}" id="go-Guide-shop-2">動作環境について</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="gSection" id="d_agreement">
                        <h4 class="subGTitle">ご利用規約</h4>
                        <div class="subGsection">
                            <!-- 最終更新日　2009年2月12日 -->
                            <p>株式会社ピーディーアール（以下「当社」といいます）は、以下のご利用規約（以下「本規約」といいます）に基づいて会員（第3条で定義します）にピーディーアールオンラインショップ（以下「本サイト」といいます）のサービス・商品を提供いたします。</p>
                            <dl>
                                <dt>第1条（本規約の適用）</dt>
                                <dd>
                                    <p>本サイトの提供・利用にあたっては、当社及び会員に本規約が適用されるものとします。当社は、本規約を変更できるものとします。本規約を変更する場合、当社は、本サイトにて本規約を変更する旨及び変更後の本規約の内容並びにその効力発生時期を告知します。</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第2条（本サイトの利用）</dt>
                                <dd>
                                    <ol>
                                        <li>会員は本規約に従い本サイトを利用するものとします。</li>
                                        <li>当社は、会員に事前通知することなく取扱商品、商品価格、各種キャンペーン等の本サイトの内容を変更することができるものとします。</li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第3条（会員登録）</dt>
                                <dd>
                                    <ol>
                                        <li>本サイトは、日本国内の歯科医院、歯科技工所、その他歯科医療に携わる法人・個人のみにご利用いただけます。</li>
                                        <li>本サイトのご利用には、本規約への同意と、当社が指定する個人情報の登録（以下「会員登録」といいます）が必要です。</li>
                                        <li>会員登録した者を「会員」といいます。</li>
                                        <li>第14条1項に所定する禁止事項を行った場合、またはそのおそれがある場合及び第15条１項の所定の事項に該当する場合またはそのおそれがある場合、当社は会員登録を許可しない場合があります。</li>
                                        <li>会員ID及びパスワードは会員自身のみが利用でき、第三者に譲渡・貸与・開示できないものとします。</li>
                                        <li>会員IDとパスワードを用いて当社に対して行われたことは全て会員本人の意思表示とみなし、そのために生じる効果（支払義務等）及び結果（損害の発生等）は全て会員が責任を負うものとします。</li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第4条（会員登録の変更手続き）</dt>
                                <dd>
                                    <ol>
                                        <li>会員登録の内容に変更があった場合には、速やかに当社が別途指定する方法により届け出るものとします。</li>
                                        <li>会員登録の変更前になされた契約は、変更前の会員情報に基づき取り扱われます。</li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第5条（契約の成立）</dt>
                                <dd>
                                    <p>会員が本サイトで商品をご注文いただいた時点で、商品購入についての契約申込みとなり、当社が発信した注文受付完了のE-mailが会員に受信された時点で売買契約が成立するものとします。</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第6条（商品のお届け）</dt>
                                <dd>
                                    <ol>
                                        <li>商品のお届け先は日本国内に限ります。</li>
                                        <li>交通事情や悪天候などにより予定日及び指定時間にお届けできない場合があります。</li>
                                        <li>ご注文時に品切れの商品は、入荷次第順次お届けいたします。</li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第7条（お支払い）</dt>
                                <dd>
                                    <p>商品の購入にあたりお支払いいただく金額は、商品代金、消費税及び当社規定の送料の合計額です。</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第8条（売買契約の解除（キャンセル））</dt>
                                <dd>
                                    <ol>
                                        <li>売買契約が成立した商品について、会員は出荷手配後のキャンセルはできないものとし、商品を一旦受け取った上で、次条の規定に従って返品手続きを行うものとします。</li>
                                        <li>名入れ印刷済商品及びご注文いただいてからメーカー等に発注する商品については、出荷前であってもキャンセルできないものとします。</li>
                                        <li>第14条及び第15条に該当する場合、商品の入手が困難になった場合、お届け先が長期ご不在の場合、またはお届け先が商品の受け取りを拒否した場合は、当社は当該売買契約の解除、その他の措置をとることができるものとします。</li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第9条（返品・交換）</dt>
                                <dd>
                                    <ol>
                                        <li>会員は返品・交換を希望する場合は、当社に事前にご連絡ください。</li>
                                        <li>以下の場合は返品・交換できません。ただし、品質不良や返品理由が当社の責めに帰すべき事由に基づく場合は返品を承ります。
                                            <div class="pointSubBox2">
                                                <ul style="column-count: 2">
                                                    <li>お届け後3ヶ月を経過した商品</li>
                                                    <li>経年劣化とみられる商品</li>
                                                    <li>お試しの範囲を超えて消費された商品</li>
                                                    <li>在庫処分品、アウトレット品</li>
                                                    <li>名入れ印刷済商品</li>
                                                    <li>使用期限を過ぎた商品</li>
                                                    <li>食品</li>
                                                    <li>時価商品</li>
                                                </ul>
                                            </div>
                                            <ul>
                                                <li>上記以外で返品不可として販売した商品</li>
                                            </ul>
                                        </li>
                                        <li>会員の都合（注文間違い等）による返品については、開封前の商品のみを受け付け、当該返品にかかる送料等の諸経費は会員が負担するものとします。</li>
                                        <li>品質不良の場合、当社の責めに帰すべき事由による返品・交換の場合、またはサイズや使い勝手がイメージと使ったことによりご満足いただけなかった場合は当社が送料を負担します。これ以外の場合の送料は会員が負担するものとします。</li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第10条（医薬品等の販売・用途）</dt>
                                <dd>
                                    <ol>
                                        <li>医薬品・医療機器(以下「医薬品等」といいます)に関しては、当社の販売先である会員が診療等の医療行為のために提供することを想定して販売するものとします。</li>
                                        <li>医薬品等の想定外の使用や誤使用によって、会員や第三者に損害が発生した場合は、当社は一切の責任を負いません。</li>
                                        <li>当社は、医薬品及び注射器・注射針（以下「注射針等」といいます）などの一部の医療機器に関しては、会員が診療等の医療行為を行うことを法的に許可されている施設（以下「医療機関等」といいます）など販売先として適切であると確認できた場合にのみ販売します。</li>
                                        <li>当社は会員が医療機関等であることを確認するために、施設の名称、施設の住所及び公務所印が記された公的書類のコピーを請求することができるものとします。</li>
                                        <li>以下の場合は、販売をお断りいたします。
                                            <ol>
                                                <li>医薬品及び注射針等一部の医療機器の販売先として適切であることについて本条4項に定める公的書類のコピーを提出できない場合（医療施設等を有しない医師個人を含む。）</li>
                                                <li>販売先が法規制に反する行為を行っている、もしくはそのおそれがあると当社が認めた場合</li>
                                                <li>その他、販売先として相応しくないと当社が判断した場合</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第11条（サンプル品の臨床使用）</dt>
                                <dd>
                                    <p>当社が提供するサンプル品は、形状見本であり、実際の医療行為には使用できません。会員がサンプル品を医療行為に使用された場合、当社は一切の責任を負いません。</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第12条（著作権等）</dt>
                                <dd>
                                    <p>本サイトを通じて提供される全てのコンテンツ（画像・文章等）は当社または当社の提携先事業者の財産であり著作権法・その他の知的財産法によって保護されています。本サイトを通じて提供されるコンテンツの無断転載はお断りいたします。<br/>「P.D.R.」「ピーディーアール」は弊社の登録商標（登録第5252771号、登録第5252772号）です。
                                    </p>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第13条（禁止事項）</dt>
                                <dd>
                                    <ol>
                                        <li>次の各号を禁止事項とします。
                                            <ol>
                                                <li>会員が本規約に違反する行為</li>
                                                <li>虚偽の会員登録を行う行為</li>
                                                <li>不正に入手したお客様番号、会員ＩＤまたはパスワードを使用して本サイトにログインする行為</li>
                                                <li>他の会員、第三者及び当社に迷惑・不利益または損害を与える行為、またはそのおそれのある行為</li>
                                                <li>その他、当社が不適切と認めた行為</li>
                                            </ol>
                                        </li>
                                        <li>会員が前項に定める禁止行為を行い、それにより当社または第三者が損害を被った場合、会員は損害賠償責任を負うものとします。</li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第14条（会員資格の抹消）</dt>
                                <dd>
                                    <ol>
                                        <li>下記のいずれかに該当する場合、当社は当該会員の会員資格を抹消することができるものとします。
                                            <ol>
                                                <li>会員が本規約に違反した場合</li>
                                                <li>会員から商品代金が回収不可能またはそのおそれがある場合</li>
                                                <li>会員または実質的に会員の経営を支配する者が反社会的勢力に該当する場合、または当社に対して脅迫的な言動または暴力を用いた場合、偽計もしくは威力を用いて当社の業務を妨害しあるいは信用を毀損した場合</li>
                                                <li>ご注文が一定期間ない場合</li>
                                                <li>届先不明でお届けできない場合</li>
                                                <li>その他、資格抹消が適当と当社が認めた場合</li>
                                            </ol>
                                        </li>
                                        <li>前項の規定により会員資格を抹消した場合、当社は当該会員からの注文品の出荷を拒絶し、会員との間に成立した注文品の売買契約を解除できるものとします。</li>
                                        <li>前項の規定により会員資格を抹消した場合、抹消によって会員に損害が生じたとしても当社は損害賠償義務を負いません。</li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第15条（サービスの変更・中断）</dt>
                                <dd>
                                    <ol>
                                        <li>当社は、本サイトを適切に運営するために、次のいずれかに該当する場合、会員に事前に通知を行うことなく本サイトを変更、中止または停止することができるものとします。
                                            <ol>
                                                <li>システムの定期保守及び緊急保守の場合</li>
                                                <li>天災地変、火災、停電、第三者による妨害行為などによりシステムの運用が困難な場合</li>
                                                <li>その他、当社が必要と判断した場合</li>
                                            </ol>
                                        </li>
                                        <li>前項に従って本サイトを変更、中止または停止した場合、会員に損害が生じたとしても当社は一切の責任を負いません。</li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第16条（免責事項）</dt>
                                <dd>
                                    <ol>
                                        <li>当社は、会員に対して通知義務を負う場合は、会員情報のメールアドレスへの通知を持って行うものとします。</li>
                                        <li>当社は、会員の登録内容に従い事務を処理することにより免責されるものとします。</li>
                                        <li>会員が、本サービスを利用することにより、他の会員または第三者に対して損害などを与えた場合には、当該会員は自己の責任と費用において解決し、当社には一切迷惑を与えないものとします。</li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl>
                                <dt>第17条（管轄裁判所）</dt>
                                <dd>
                                    <p>本サイトの利用に関して、当社と会員の間に紛議が生じた場合は、名古屋地方裁判所を第一審の専属的合意管轄裁判所といたします。</p>
                                </dd>
                            </dl>
                            <!-- 2005年5月1日発効
                                株式会社HIT-MALL -->
                        </div>
                    </div>
                    <span><!--MAIN--></span></div>
            </div>
            <span><!--CONTAINER--></span></div>
    </div>

    <div id="layoutFooter" th:replace="~{include/footer}"></div>
    <span><!--LAYOUT--></span></div>
</body>
</html>
<!-- PDR Migrate Customization to here-->