<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"
	  xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	  lang="ja">
<head>
	<meta th:replace="~{include/head}"/>
	<!--/* TODO-HM4　<link rel="canonical" id="goSSLCanonical"/>  */-->
</head>

<body id="d_guide">
<a id="top" name="top"></a>

<div id="d_layout"><!--LAYOUT-->
	<div id="layoutHeader" th:replace="~{include/header}"></div>

	<div class="topic_path">
		<p id="d_topic_path"><a th:href="@{/index.html}" id="goTopPage">TOP</a> &gt; ご利用ガイド</p>
	</div>

	<div id="d_container"><div class="wrap"><!--CONTAINER-->
		<h2 class="ctTitle">ご利用ガイド</h2>
		<div id="layoutSidemenu" th:replace="~{include/sidemenuguide}"></div>
		<div id="d_main"><div class="privacy"><!--MAIN-->
			<div id="p1" class="gSection mt0">
				<h3 class="mTitle">セキュリティーポリシー</h3>
				<div class="subGsection">
					<p>
						ピーディーアールオンラインショップ（以下「本サイト」といいます）では、個人情報を扱う画面では、入力時に情報が第三者により傍受・妨害されることを防ぐためSSL（Secure Sockets Layer）と呼ばれる暗号化通信技術を使用しております。<br />
						・個人情報については、最大限の注意を払って管理しております。お客様に無断で個人情報を集めたり、第三者に譲渡または公開することはありません。
					</p>
				</div>
			</div>
			
			<div id="p2" class="gSection">
				<h3 class="mTitle">プライバシーポリシー</h3>
				<div class="subGsection">
					<p>
						株式会社ピーディーアール(以下「当社」といいます)では、お客様等からお預かりした個人情報の保護について重要性を認識しております。お客様の信頼にお応えし、安心して当社のサービスをご利用いただけるよう、個人情報の保護に関する法律等の法令を遵守し、個人情報を安全かつ適切に取り扱うとともに、安全管理について適切な措置を講じます。<br />
						当社では、個人情報の取り扱いが適正に行われるよう、従業員や委託業者への教育・指導に取り組んでまいります。また、個人情報の開示、訂正および削除などの要求について適切に対応し、当社の個人情報の取り扱いおよび安全管理に係る措置については、適宜見直し、改善いたします。
					</p>
				</div>
				<h4 class="subGTitle">お客様の個人情報について</h4>
				<div class="subGsection">
					<p class="mt10">
						当社では、お客様が当社をご利用いただく際に、お客様の情報をお伺いすることがあります。その際には、お客様の個人情報の利用目的を明示し、適法かつ公正な手段によって、お客様の個人情報を収集いたします。また、応対品質向上および内容確認のため、通話録音を行っております。</p>
				</div>
				<h4 class="subGTitle">Ｃｏｏｋｉｅについて</h4>
				<div class="subGsection">
					<p class="mt10">
						本サイトを運営するにあたり、セキュリティー確保やお客様への適切な情報提供などのために「Ｃｏｏｋｉｅ（クッキー）」を使用することがあります。Ｃｏｏｋｉｅ（クッキー）とはサイトがお客様のパソコン等のブラウザに情報を保存し、あとで取り出すことができる機能のことです。これは本サイトの利用状況に関する情報を集め、本サイトでのお客様の利便性を高め、本サイトをより快適にご利用いただけるよう改善を行うことを目的としています。ただし、本サイトで設定するＣｏｏｋｉｅ（クッキー）にはお客様の連絡先が判明するような情報は含まれていませんのでご安心ください。</p>
				</div>
				<h4 class="subGTitle">お客様の個人情報の利用目的</h4>
				<div class="subGsection">
					<p>当社では、お客様からお預かりした個人情報を、以下の目的に利用いたします。</p>
					<ul>
						<li>
							当社の歯科材料の通販における、商品のお届け、サービスの提供、<br />
							ご請求および関連するアフターサービスのため。
						</li>
						<li>商品の改善、サービスの企画・向上のため。</li>
						<li>商品やサービスに関する情報のお知らせのため。</li>
					</ul>
				</div>
				<h4 class="subGTitle">その他の個人情報について</h4>
				<div class="subGsection">
					<p>当社事業を行うにあたり収集した、お取引先様、株主様、従業員、求職者様等の個人情報は、個人情報の保護に関する法律等の法令を遵守し、安全かつ適切に取り扱います。</p>
				</div>
				<h4 class="subGTitle">その他の個人情報の利用目的</h4>
				<div class="subGsection">
					<p>当社では、その他の個人情報を以下の目的で利用いたします。</p>
					<p>【お取引様に関する個人情報】</p>
					<ul>
						<li>当社事業・サービスに関する売買、委託・受託、購買等のお取引、運営及び管理のため。</li>
						<li>当社事業・サービスに関するアフターサービスのため。</li>
						<li>当社事業・サービスの企画・向上のため。</li>
					</ul>
					<p>【株主様に関する個人情報】</p>
					<ul>
						<li>会社法に基づく権利行使・義務履行のため。</li>
						<li>諸法令に基づく記録作成、株主様の管理のため。</li>
					</ul>
					<p>【従業員に関する個人情報】</p>
					<ul>
						<li>従業員への業務連絡、従業員の人事・労務管理、福利厚生の提供、健康管理のため。</li>
					</ul>
					<p>【求職者様に関する個人情報】</p>
					<ul>
						<li>採用募集活動に関する求職者様への連絡、情報提供、採用募集活動に必要となる業務管理のため。</li>
					</ul>
				</div>
				<h4 class="subGTitle">個人情報の提示・開示</h4>
				<div class="subGsection">
					<p>お預かりした個人情報は、次のいずれかに該当する場合を除き、第三者に提示・開示を行うことはありません。</p>
					<ul>
						<li>ご本人様の事前の同意・承諾を得た場合</li>
						<li>法令に基づく場合（薬機法等の定めるところにより、医薬品その他の生命・健康に関わる商品を販売したお客様の情報を製造業者、仕入先等に報告する必要がある場合を含みます）</li>
						<li>人の生命、身体または財産の保護のために必要がある場合であって、ご本人様の同意を得ることが困難であるとき。</li>
						<li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、ご本人様の同意を得ることが困難であるとき。</li>
						<li>国の機関もしくは地方公共団体またはその委託を受けたものが法令の定める事務を遂行することに対して協力する必要がある場合であって、ご本人様の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。</li>
						<li>当社が提供しているサービスを遂行するために、業務委託先に対して、機密保持に関する契約を締結した上で、委託業務の遂行に必要な範囲内で開示・提供が必要なとき。</li>
					</ul>
				</div>
				<h4 class="subGTitle">安全管理措置について</h4>
				<div class="subGsection">
					<p>お預かりした個人情報は、当社が責任を持って厳重に管理し、個人情報への不正アクセスや情報の紛失、破壊、改ざん、漏洩等が起きぬよう下記の安全対策を講じることで、個人情報の安全かつ適切な取り扱いに努めます。</p>
					<ul>
						<li>管理区域の常時施錠、ICカードを用いた個人の入退室制限。</li>
						<li>情報機器等からの個人情報へのアクセス権限設置。</li>
						<li>外部委託先との秘密保持契約の締結及び監督。</li>
						<li>従業員への教育・指導。</li>
					</ul>
				</div>
				<h4 class="subGTitle">個人情報の開示、訂正、削除</h4>
				<div class="subGsection">
					<p>
						当社は、個人情報の内容の開示、または訂正、削除等を希望される場合には、ご本人様からの求めであることを確認させていただいた上で、法令の定めるところに従って、対応させていただきます。<br />
						ご質問やご意見がございましたら、下記までお問合せください。
					</p>
					<p>
						<span style="color:#000000; font-weight: bold">■お問い合わせ先</span><br />
						株式会社ピーディーアール<br />
						カスタマーサービスデスク<br />
						TEL：0120-108394　 ◎受付時間：月～金　10:00～16:00　◎休業日：土、日、祝・祭日<br />
						FAX：0120-108649　（24時間受付）<br />
					</p>
					<p>
						<span style="color:#000000; font-weight: bold">個人情報取扱事業者</span><br />
						株式会社ピーディーアール<br />
						代表取締役　仲谷　公司<br />
						〒468-0015　愛知県名古屋市天白区原４−１０６<br />
					</p>
				</div>
			</div>
			
			
		<!--MAIN--></div></div>
	<!--CONTAINER--></div></div>
	
	<div id="layoutFooter" th:replace="~{include/footer}"></div>
<!--LAYOUT--></div>
</body>
</html>
