<div xmlns:th="http://www.thymeleaf.org">
    <!--    // PDR Migrate Customization from here-->
    <div>
        <span>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</span>
    </div>
    <div>
        <span>　ピーディーアールオンラインショップ　カスタマーサービスデスク</span>
    </div>
    <div>
        <span>　TEL：0120-108394（受付時間：月～金　9:00～16:00 休業日：土日祝）</span>
    </div>
    <div>
        <span>　FAX：0120-108649（年中無休/24時間受付）</span>
    </div>
    <div>
        <span>　URL：</span><span><a th:href="${hostUrl}" th:text="${hostUrl}"></a></span>
    </div>
    <div>
        <span>　メールでのお問い合わせは下記URLから</span>
    </div>
    <div>
        <span>　<a th:href="${hostUrl} + 'inquiry/index.html'"
                   th:text="${hostUrl} + 'inquiry/index.html'"></a></span>
    </div>
    <div>
        <span>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</span>
    </div>
    <!--    // PDR Migrate Customization to here-->
</div>
