<!--PDR Migrate Customization from here-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="ja">
<head>
    <meta charset="utf-8">
    <meta th:replace="~{newdesign/include/head}"/>
    <title>歯科・技工材料の通販サイト | P.D.R.オンライン</title>
</head>

<body id="gotop" class="p-questionnaire">
<a id="top" name="top"></a>

<div class="l-mainwrap">
    <div id="layoutHeader" th:replace="~{newdesign/include/header}"></div>
    <main class="l-page">
        <div class="l-breadcrumbs">
            <div class="l-breadcrumbs__inner">
                <div class="l-breadcrumbs__list">
                    <div class="l-breadcrumbs__item"><span class="l-breadcrumbs__link">
                        <a th:href="@{/index.html}" class="c-textlink c-textlink--hover">TOP</a></span>
                    </div>
                    <div class="l-breadcrumbs__item"><span class="l-breadcrumbs__current">アンケート</span></div>
                </div>
            </div>
        </div>

        <form id="indexForm" method="post" th:action="@{/questionnaire/index.html}" th:object="${questionnaireModel}">
            <div class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-title-page"><strong>アンケート</strong></h2>
                    <div th:if="${allMessages != null && !#lists.isEmpty(allMessages)}">
                        <div th:class="${allMessages.allInfo() ? 'global-info-message' : 'global-error-message'}">
                            <ul th:each="message : ${allMessages}">
                                <li th:utext="${message}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-section">
                <div class="l-section__inner">
                    <div class="c-page-description">
                        <p class="c-page-description__text" th:text="*{namePc}"></p>
                        <p class="c-page-description__text">
                            <span class="c-require" th:utext="*{#pre.convert(freeTextPc, false)}"></span>
                        </p>
                    </div>
                    <div class="l-form">
                        <div class="l-form__list-wrap">
                            <th:block th:each="item, stat : *{questionnaireReplyDisplayDtoItems}">
                                <dl class="l-form__list">
                                    <input type="hidden" id="questionSeq"/>
                                    <dt>
                                        <p>
                                            <span th:text="${item.displayNumber + '. ' + item.question}"></span>
                                            <span th:if="${item.isRequired()}" class="c-require">必須</span>
                                            <span th:if="${!item.isRequired()}" class="c-any">任意</span>
                                        </p>
                                    </dt>

                                    <th:block th:if="${item.isTextBox()}">
                                        <dd>
                                            <p>
                                                <input type="text" maxlength="" th:field="*{questionnaireReplyDisplayDtoItems[__${stat.index}__].questionTextBox}"
                                                       th:errorclass="c-input--error" class="c-input c-input--width-l" />
                                            </p>
                                            <span class="c-field-error c-field-error--top"
                                                  th:if="${#fields.hasErrors('questionnaireReplyDisplayDtoItems[' + stat.index+'].questionTextBox')}"
                                                  th:errors="*{questionnaireReplyDisplayDtoItems[__${stat.index}__].questionTextBox}"></span>
                                        </dd>
                                    </th:block>
                                    <th:block th:if="${item.isTextArea()}">
                                        <dd>
                                            <p>
                                                <textarea rows="5" th:text="${item.questionTextArea}"
                                                          th:field="*{questionnaireReplyDisplayDtoItems[__${stat.index}__].questionTextArea}"
                                                          th:errorclass="c-input--error"
                                                          class="c-text-area c-input--width-l"></textarea>
                                            </p>
                                            <span th:if="${#fields.hasErrors('questionnaireReplyDisplayDtoItems[' + stat.index+'].questionTextArea')}"
                                                  th:errors="*{questionnaireReplyDisplayDtoItems[__${stat.index}__].questionTextArea}"
                                                  class="c-field-error c-field-error--top"></span>
                                        </dd>
                                    </th:block>
                                    <th:block th:if="${item.isRadio()}">
                                        <dd>
                                            <div class="l-form__list-radio-unit" th:classappend="${#fields.hasErrors('questionnaireReplyDisplayDtoItems[' + stat.index+'].questionRadio')} ? 'l-form__list--error' : ''">
                                                <th:block th:each="itemRadio : ${item.questionRadioItems}">
                                                    <p>
                                                        <input th:id="'questionRadioItems_'+ ${stat.index + '_' + itemRadio.key}"
                                                               name="radio_group1" type="radio" class="c-radio"
                                                               th:field="*{questionnaireReplyDisplayDtoItems[__${stat.index}__].questionRadio}"
                                                               th:value="${itemRadio.key}">
                                                        <label th:for="'questionRadioItems_'+ ${stat.index + '_' + itemRadio.key}"
                                                               th:text="${itemRadio.value}"></label>
                                                    </p>
                                                </th:block>
                                            </div>
                                            <span th:if="${#fields.hasErrors('questionnaireReplyDisplayDtoItems[' + stat.index+'].questionRadio')}"
                                                  th:errors="*{questionnaireReplyDisplayDtoItems[__${stat.index}__].questionRadio}"
                                                  class="c-field-error c-field-error--top-large"></span>
                                        </dd>
                                    </th:block>
                                    <th:block th:if="${item.isPullDown()}">
                                        <dd>
                                            <div class="c-select c-select--prefecture"
                                                 th:classappend="${#fields.hasErrors('questionnaireReplyDisplayDtoItems[' + stat.index+'].questionPullDown')} ? 'c-select--error' : ''">
                                                <select class="c-select__inner"
                                                        th:field="*{questionnaireReplyDisplayDtoItems[__${stat.index}__].questionPullDown}">
                                                    <option value="" selected="selected">選択してください</option>
                                                    <option th:each="itemPulldown : ${item.questionPullDownItems}"
                                                            th:value="${itemPulldown.key}" th:text="${itemPulldown.value}"
                                                            th:selected="${itemPulldown.key == item.questionPullDown}">
                                                    </option>
                                                </select>
                                            </div>
                                            <span th:if="${#fields.hasErrors('questionnaireReplyDisplayDtoItems[' + stat.index+'].questionPullDown')}"
                                                  th:errors="*{questionnaireReplyDisplayDtoItems[__${stat.index}__].questionPullDown}"
                                                  class="c-field-error c-field-error--top"></span>
                                        </dd>
                                    </th:block>
                                    <th:block th:if="${item.isCheckBox()}">
                                        <dd>
                                            <div class="l-form__list-checkbox-unit" th:classappend="${#fields.hasErrors('questionnaireReplyDisplayDtoItems[' + stat.index+'].questionCheckBox')} ? 'l-form__list--error'">
                                                <th:block th:each="itemCheckbox, itemCheckboxStat : ${item.questionCheckBoxItems}">
                                                    <div>
                                                        <label class="c-checkbox">
                                                        <span class="c-checkbox__box">
                                                            <input th:id="'questionCheckBox-' + ${itemCheckboxStat.index}"
                                                               th:value="${itemCheckbox.key}" type="checkbox" class="c-checkbox__box"
                                                               th:checked="${not #lists.isEmpty(item.questionCheckBox) && #arrays.contains(item.questionCheckBox, itemCheckbox.key)}"
                                                               th:field="*{questionnaireReplyDisplayDtoItems[__${stat.index}__].questionCheckBox}"/> <span></span>
                                                        </span>
                                                        <p th:text="${itemCheckbox.value}"></p>
                                                        </label>
                                                    </div>
                                                </th:block>
                                            </div>
                                            <span th:if="${#fields.hasErrors('questionnaireReplyDisplayDtoItems[' + stat.index+'].questionCheckBox')}"
                                                  th:errors="*{questionnaireReplyDisplayDtoItems[__${stat.index}__].questionCheckBox}"
                                                  class="c-field-error c-field-error--top-large"></span>
                                        </dd>
                                    </th:block>
                                </dl>
                            </th:block>
                            <input type="hidden" id="hiddenForCaseCheckBoxIsNotSelected"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c-button-wrap">
                <button name="doConfirm" type="submit" class="c-button c-button--primary c-button--width-l">
                    内容を確認する
                </button>
            </div>

        </form>
    </main>

    <div id="layoutFooter" th:replace="~{newdesign/include/footer}"></div>
</div>

</body>
</html>
<!--PDR Migrate Customization to here-->