<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:hm="http://www.itec.hankyu-hanshin.co.jp/hitmall"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta th:replace="~{include/head_new}"/>
    <title>入荷お知らせ商品詳細｜商品管理</title>
    <script>
        $(function () {
            $("#send_mail_dialog_btn").click(function () {
                $("#send_mail_dialog").dialog({
                    modal: true,
                    width: 500,
                    title: "",
                    buttons: [],
                    open: function(event, ui) {
                            $(".ui-dialog-title").hide();
                            $(".ui-dialog-titlebar-close").hide();
                            $(".ui-dialog-titlebar").hide();
                        }
                });
                $("#doReStockSendMailBtn").click(function () {
                    $("#send_mail_dialog").append($("#loading-bar"));
                    $("#loading-bar").show();
                    var deferred = document.getElementById("doReStockSendMail").click();
                    deferred.done(function() {
                        $("#send_mail_dialog").append($("#loading-bar"));
                        $("#loading-bar").hide();
                    });
                })
                $("#doCloseBtn").click(function () {
                    $("#send_mail_dialog").dialog("close");
                })
                $("#doCloseBtn").click(function () {
                    $("#send_mail_dialog").dialog("close");
                })
            });
        });
    </script>
    <style>
      .circle {
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: red;
        color: white;
        text-align: center;
        line-height: 1em;
        font-size: 1em;
      }
      #loading-bar {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 9999;
      }
    </style>
</head>

<body id="goods">
<div id="searchReStock" class="l-mainwrap">
    <!-- side -->
    <div th:replace="~{include/sidemenu_new}"></div>
    <main class="l-page">
        <!-- header -->
        <div th:replace="~{include/header_new}"></div>
        <div class="l-container">
            <!-- contents -->
            <div class="l-main">
                <form th:action="@{/goods/restock/details/}" th:object="${reStockDetailsModel}" method="post">
                    <div class="l-pagetitle_wrap">
                        <h1 class="c-pagetitle_h1">入荷お知らせ商品詳細</h1>
                    </div>
                    <!--エラーメッセージ-->
                    <div th:if="${allMessages}"
                         th:class="${allMessages.allInfo()?'global-info-message':'global-error-message'}">
                        <ul th:each="message : ${allMessages}">
                            <li th:utext="${message}"></li>
                        </ul>
                    </div>

                    <div class="l-section">
                        <article class="l-article">
                            <div class="l-article_title">
                                <h2 class="c-pagetitle_h3">基本情報</h2>
                                <div class="c-open-btn"><i></i></div>
                            </div>
                            <div class="l-article_inner">
                                <div class="l-inner_wrap">
                                    <dl class="c-dl-base dt_fn13 dt_w160px">
                                        <div>
                                            <dt>商品番号</dt>
                                            <dd>
                                                    <span th:text="*{goodsCode}"></span>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt>商品名</dt>
                                            <dd>
                                                <span th:text="*{goodsName}"></span>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt>入荷状態</dt>
                                            <dd>
                                                <span th:text="*{reStockStatus != null} ? *{reStockStatus.label} : ''"></span>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt>配信ID</dt>
                                            <dd>
                                                <span th:text="*{deliveryId}"></span>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt>入荷日時</dt>
                                            <dd>
                                                <span th:text="*{#date.convert(reStockTime, 'yyyy/MM/dd HH:mm:ss')}"></span>
                                            </dd>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </article>
                        <article class="l-article">
                            <div class="l-article_title">
                                <h2 class="c-pagetitle_h3">登録顧客情報</h2>
                                <div class="c-open-btn"><i></i></div>
                            </div>
                            <div class="l-article_inner">
                                <div class="l-inner_wrap">
                                    <div class="l-conttitle_wrap">
                                        <div th:replace="~{include/pager_new::pager2(totalCountDisplayFlag=true)}"></div>
                                        <th:block sec:authorize="hasAnyAuthority('GOODS:8')">
                                            <div class="col_left wrap_flex_center count_menu ai_flex-start">
                                                <span class="resultcount pt10"></span>
                                                <div class="col_left">
                                                    <select name="reStockOutDataSelectTop" class="c-form-control ml10"
                                                            title="出力形式"
                                                            th:classappend="${#fields.hasErrors('reStockOutDataSelectTop')} ? 'error'">
                                                        <option value="">選択してください</option>
                                                        <option th:each="item : *{reStockOutDataSelectTopItems}"
                                                                th:value="${item.key}" th:text="${item.value}"
                                                                th:selected="${item.key} == *{reStockOutDataSelectTop}">
                                                        </option>
                                                    </select>
                                                    <div th:if="${#fields.hasErrors('reStockOutDataSelectTop')}"
                                                         th:errors="*{reStockOutDataSelectTop}"
                                                         class="c-error-txt ml10 mt5"></div>
                                                </div>
                                                <button class="c-btn btn_back icon ml10" type="submit"
                                                        name="doCsvDownloadSelectTop"><i
                                                        class="material-icons save_alt"></i>ダウンロード
                                                </button>
                                                <div style="padding-left:10px">
                                                    <a th:target="_blank" id="send_mail_dialog_btn" class="c-btn btn_move w180px">入荷お知らせメール送信</a>
                                                </div>
                                                <div id="send_mail_dialog" style="display:none;">
                                                    <dl>
                                                        <p>入荷お知らせメールを送信いたします。よろしいでしょうか？</p>
                                                        <dt>&nbsp;</dt>
                                                        <a id="doReStockSendMailBtn" class="c-btn btn_regular ml50 txt_white">OK</a>
                                                        <a id="doCloseBtn" class="c-btn btn_back ml20 txt_blue01">キャンセル</a>
                                                        <div id="loading-bar" style="display: none;">
                                                            <img th:src="@{/images/loadingAnimation.gif}" />
                                                        </div>
                                                    </dl>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                    <table id="search_result" class="c-tbl tbl_search_item">
                                        <thead>
                                            <th:block sec:authorize="hasAnyAuthority('GOODS:8')">
                                                <th class="check">
                                                    <label class="c-form-control"><input id="selectAll" type="checkbox"
                                                                                         name=""
                                                                                         value=""><i></i></label>
                                                </th>
                                            </th:block>
                                            <th class="number w20px">#</th>
                                            <th class="item_number w80px">
                                                顧客番号
                                            </th>
                                            <th class="w400px">
                                                顧客名
                                            </th>
                                            <th class="w400px">
                                                会員ID
                                                </th>
                                            <th class="w200px">
                                                入荷お知らせ登録日時▼
                                                </th>
                                            <th class="status w120px">
                                                入荷メール送信状態
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item, stat: *{resultItems}">

                                                <th:block sec:authorize="hasAnyAuthority('GOODS:8')">
                                                    <td class="check">
                                                        <label class="c-form-control">
                                                            <input type="checkbox"
                                                                   th:field="*{resultItems[__${stat.index}__].resultReStockCheck}">
                                                            <i></i>
                                                        </label>
                                                    </td>
                                                </th:block>
                                                <td class="number w20px">
                                                    <dd>
                                                        <span th:text="${item.resultNo}"></span>
                                                    </dd>
                                                </td>
                                                <td class="w80px">
                                                    <dd>
                                                        <span th:text="${item.customerNo}"></span>
                                                    </dd>
                                                </td>
                                                <td class="w400px">
                                                    <dd>
                                                        <span th:text="${item.memberInfoLastName}"></span>
                                                    </dd>
                                                </td>
                                                <td class="w400px">
                                                    <dd>
                                                        <span th:text="${item.memberInfoId}"></span>
                                                    </dd>
                                                </td>
                                                <td class="w200px">
                                                    <dd>
                                                        <span th:text="${#date.convert(item.registTime, 'yyyy/MM/dd HH:mm:ss')}"></span>
                                                    </dd>
                                                </td>
                                                <td class="status w120px" style="text-align:center;">
                                                    <dd>
                                                        <div th:if="${item.deliveryStatus == '3'}" class="circle">!</div>
                                                        <span th:text="${#enumtype.getLabel('HTypeMailDeliveryStatus',item.deliveryStatus).replace('配信失敗', '配信済み')}"
                                                             ></span>
                                                    </dd>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--ページネーション-->
                                    <div th:replace="~{include/pager_new}"></div>
                                </div>
                            </div>
                        </article>
                    <input type="submit" id="doReStockSendMail" name="doReStockSendMail" style="display:none"/>
                    </div>
                    <!-- 追尾ボタン -->
                    <div class="l-pagebtn-nav">
                        <div class="l-pagebtn-nav_inner">
                            <div class="c-back">
                                <button name="doBack" type="submit" class="c-btn btn_back icon_left"><i
                                        class="material-icons navigate_before"></i>戻る
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- footer -->
        <div th:replace="~{include/footer_new}"></div>
    </main>
</div>
</body>
</html>
