<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:hm="http://www.itec.hankyu-hanshin.co.jp/hitmall"
      xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta th:replace="~{include/head_new}"/>
    <title>エラー画面</title>
</head>

<body class="login">
<div id="page" class="l-mainwrap min_h650px">
    <main class="l-page">
        <div class="l-login-wrap l-error-wrap mb40">
            <div class="logo"><img src="/admin/assets/images/icon/caution.svg" alt="ピーディーアールオンラインショップ"></div>
            <div class="l-conttitle_wrap">
                <h1 class="c-pagetitle_h1">エラー画面です。</h1>
            </div>
            <div th:if="${allMessages}">
                <ul th:each="message : ${allMessages}" class="mt5">
                    <li><p th:utext="${message}"></p></li>
                </ul>
            </div>
            <p th:if="!${allMessages}">URLに間違いがないかご確認ください。</p>
            <div class="l-btn">
                <a class="c-btn btn_regular" th:href="@{/(from=error)}">TOP画面へ</a>
            </div>
        </div>
        <div th:replace="~{include/footer_new}"></div>
    </main>
</div>
</body>
</html>
