<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="ja">
<head>
    <title>歯科・技工材料の通販サイト | P.D.R.オンライン</title>

    <!--/* google analytics（GA4連携） start */-->
    <!--/* Google Tag Manager タグ より前に、eコマース用データ送信準備を行わなければならないので注意 */-->
    <script type="text/javascript" th:inline="javascript" xml:space="preserve">
    /*<![CDATA[*/
    var dataLayer = [];
    var gaData = /*[[${googleAnalyticsInfo}]]*/ {};
    var	gaDataJSON = JSON.parse(gaData);
    var goodDetails = gaDataJSON.goodsItemList;

    // 受注情報（GA4連携用）
    var ecommerce = {};
    ecommerce['transaction_id'] = gaDataJSON.orderCode;  // ご注文番号
    ecommerce['affiliation'] = gaDataJSON.shopName; // ショップ名称
    ecommerce['value'] = gaDataJSON.orderPriceTotal; // 受注金額
    ecommerce['shipping'] = gaDataJSON.carriage; // 送料
    ecommerce['tax'] = gaDataJSON.taxPrice; // 消費税合計金額
    ecommerce['currency'] = 'JPY'; // 通貨


    // 購入商品情報（GA4連携用）
    var items = [];
    Object.keys(goodDetails).forEach(key => {
        items.push({
            'item_name': goodDetails[key].goodsName, // 商品名
            'item_name': goodDetails[key].goodsName + (goodDetails[key].unitValue1 ? '-' + goodDetails[key].unitValue1 : '') + (goodDetails[key].unitValue2 ? '-' + goodDetails[key].unitValue2 : ''), // 商品名
            'item_id': goodDetails[key].goodsCode, // 商品コード
            'item_category': goodDetails[key].category, // カテゴリ
            'price': goodDetails[key].goodsPrice, // 商品単価
            'quantity': goodDetails[key].orderGoodsCount, // 商品数量
            'currency': 'JPY' // 通貨
        });
    });

    ecommerce['items'] = items; // 商品情報

    // GoogleTagManagerへデータを転送（GA4連携用）
    dataLayer.push({
        'event' : 'purchase', // イベント名
        'ecommerce' : ecommerce
    });

    /*]]>*/
    </script>
    <!--/*  google analytics（GA4連携） end */-->

    <meta th:replace="~{newdesign/include/head}"/>
    <script type="text/javascript" th:src="@{/common/js/hm4sns.js}"></script>

    <!--/*  Google Tag Manager ecコンシェルタグ start */-->
    <script type="text/javascript">
        /*<![CDATA[*/
        dataLayer.push({'orderTotalPrice': gaDataJSON.orderPriceTotal});
        /*]]>*/


    </script>
    <!--/*  Google Tag Manager ecコンシェルタグ end */-->

    <!--/*  Google Code for your Conversion Page start */-->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 848019204;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "1BZTCL3tsnIQhP6ulAM";
        var google_remarketing_only = false;
        /* ]]> */


    </script>
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
    </script>
    <!--/*  Google Code for your Conversion Page end */-->

    <!--/*  Yahoo Code for your Conversion Page start */-->
    <script type="text/javascript">
        /* <![CDATA[ */
        var yahoo_conversion_id = 1000393950;
        var yahoo_conversion_label = "B9GjCIXxsnIQoIuwlAM";
        var yahoo_conversion_value = 0;
        /* ]]> */


    </script>
    <script type="text/javascript" src="https://s.yimg.jp/images/listing/tool/cv/conversion.js">
    </script>
    <!--/*  Yahoo Code for your Conversion Page end */-->

    <!--/*  Yahoo Code for your Target List Start */-->
    <script type="text/javascript" language="javascript">
        /* <![CDATA[ */
        var yahoo_ydn_conv_io = "HEqqJxcOLDW6hR4kt66o";
        var yahoo_ydn_conv_label = "OJ2FPWUGQYAE692VQJT375479";
        var yahoo_ydn_conv_transaction_id = "";
        var yahoo_ydn_conv_amount = "0";
        /* ]]> */


    </script>
    <script type="text/javascript" language="javascript" charset="UTF-8" src="https://b90.yahoo.co.jp/conv.js"></script>
    <!--/*  Yahoo Code for your Target List end */-->
    <script th:inline="javascript" xml:space="preserve">
    if (typeof(_ukwq) !== 'undefined') {
        // 初期化
        _ukwq = [];
        _ukt = document.createElement('script'); _ukt.type = 'text/javascript'; _ukt.async = true;
        _ukt.src = '//' + _ukwhost + '/taglog/ukwlg.js';
        _uks = document.getElementsByTagName('script')[0]; _uks.parentNode.insertBefore(_ukt, _uks);

        // 共通部
        _ukwq.push(['_setClient', _goodsClient]);
        if (_cryptoLoginId != null) { _ukwq.push(['_setLoginID', _cryptoLoginId]); }
        _ukwq.push(['_setReqURL', _reqUrl]);
        _ukwq.push(['_setRefURL', _refUrl]);
        _ukwq.push(['_setDisplay', _display]);
        // チェックアウト
        var taglog = /*[[${ukTaglogCheckoutInfo}]]*/ {};
        var	taglogJSON = JSON.parse(taglog);
        _ukwq.push(['_setCheckout', taglogJSON.checkoutString]);
        _ukwq.push(['_sendCheckLog']);
    }
    </script>
</head>

<body id="gotop" class="p-order-complete">
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/848019204/?label=1BZTCL3tsnIQhP6ulAM&amp;guid=ON&amp;script=0"/>
        <img height="1" width="1" style="border-style:none;" alt="" src="https://b91.yahoo.co.jp/pagead/conversion/1000393950/?value=0&label=B9GjCIXxsnIQoIuwlAM&guid=ON&script=0&disvt=true"/>
    </div>
</noscript>
<div class="l-mainwrap l-order">
    <div th:replace="~{newdesign/include/headerorder}"></div>

    <main class="l-page">

        <div class="c-orderflow">
            <ul>
                <li class="c-orderflow__step c-orderflow__step--already"><span>ショッピングカート</span></li>
                <li class="c-orderflow__step c-orderflow__step--already"><span>注文内容確認</span></li>
                <li class="c-orderflow__step c-orderflow__step--current"><span>注文完了</span></li>
            </ul>
        </div>

        <form name="form1" id="form1" method="post" action="">
            <div class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-title-page"><strong>ご注文完了</strong></h2>

                    <div th:if="${allMessages != null && !#lists.isEmpty(allMessages)}">
                        <div th:class="${allMessages.allInfo()?'global-info-message':'global-error-message'}">
                            <ul th:each="message : ${allMessages}">
                                <li th:utext="${message}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-complete l-complete--gray p-order-complete__main">
                <div class="l-complete__inner">
                    <p class="l-complete__title">ご注文受付完了しました。<br>ありがとうございました。</p>

                    <div class="l-complete__result l-complete__result--white l-complete--margin-m">
                        <!-- 2023-renew No14 from here -->
                        <div class="l-complete__result-title">受注番号</div>
                        <div class="l-complete__result-item">
                            <th:block th:each="orderCode, stat : ${confirmModel.orderCodeList}">
                                <span id="orderCode" th:text="${orderCode}" th:remove="tag"/>

                                <th:block th:if="${stat.index != confirmModel.orderCodeList.size - 1}">
                                    ／
                                </th:block>
                            </th:block>
                        </div>
                        <!-- 2023-renew No14 to here -->
                    </div>

                    <div class="p-order-complete__unit l-complete--margin-m">
                        <ul class="p-order-complete__bullet-point">
                            <li>キャンセルは購入履歴／発送前のご注文より「キャンセルリクエスト」が可能です。</li>
                            <li>「今すぐお届け」はご注文受付完了後すぐに発送準備に入るため、キャンセルリクエストが間に合わない場合があります。<br>その場合、一旦受け取って頂い てからの返品（お客様送料負担）となります。</li>
                        </ul>
                        <p class="p-order-complete__memo p-order-complete--margin-m">
                            ※返品をお受けできない商品は<a th:href="@{/guide/law.html#l8}" class="c-inlinelink">こちら</a>です。事前にご確認ください。<br>
                            ※「セールde予約」のキャンセルは、お届けの１週間前まで可能です。
                        </p>
                    </div>
                </div>
            </div>

            <hm:freearea key="completion_info"/>

            <div class="l-section">
                <div class="l-section__inner">
                    <div class="p-order-complete__aside">
                        <div class="p-order-complete__aside-unit">
                            <h3 class="p-order-complete__aside-title">購入履歴</h3>
                            <p class="p-order-complete__aside-text">今までのご注文内容が確認できます。</p>
                            <div class="p-order-complete__aside-button">
                                <a th:href="@{/member/history/unshipped.html}" class="c-button"><span>発送前のご注文はこちら<br><small>キャンセルはこちらから</small></span></a>
                                <a th:href="@{/member/history/shipped.html}" class="c-button"><span></span>発送済のご注文はこちら<span></span></a>
                            </div>
                        </div>
                        <div class="p-order-complete__aside-unit">
                            <h3 class="p-order-complete__aside-title">お問い合わせ</h3>
                            <p class="p-order-complete__aside-text">カスタマーサービスデスク<br>（TEL:0120-108394　受付時間：10:00~16:00 土日祝休）<br>へご連絡ください。</p>
                        </div>

                    </div>

                    <div class="c-button-wrap">
                        <a th:href="@{/index.html}" class="c-button c-button--primary-line c-button--width-l">トップページ</a>
                    </div>
                </div>
            </div>
        </form>

    </main>

    <div th:replace="~{newdesign/include/footerorder}"></div>
</div>
</body>
</html>