@charset "utf-8";

@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;
@use "../Foundation/functions" as *;
@use "../Foundation/icon" as *;

.l-complete {
  $this: &;
  text-align: center;

  &__inner {
    margin-block: 75px 100px;
    @include width(1600px, 20px, vwset(20));
  }

  &__title {
    @include font-style(22,30);
  }

  &__text {
    @include font-style(16,37);
  }

  &__result {
    width: fit-content;
    margin-inline: auto;
    padding: 35px 120px;
    background: $color-orange-lightGray;
  }

  #{$this}__result--white {
    background: $color-fff;
  }

  &__result-title {
    margin-bottom: 10px;
    @include font-style(18,30,bold);
  }

  &__result-item {
    @include font-style(22,30);
    color: $color-primary;
  }

  &--gray {
    background: $color-orange-lightGray;

    #{$this}__inner {
      margin-block: 0;
      padding-block: 80px 100px;
    }
  }

  @include media(sm) {

    &__inner {
      margin-block: vwset(35) vwset(50);
    }
  
    &__title {
      @include font-sp-style(20,35);
    }
  
    &__text-unit {
      text-align: left;
    }
  
    &__text {
      @include font-sp-style(15,30);
    }
  
    &__result {
      width: 100%;
      padding: vwset(15);
    }
  
    &__result-title {
      margin-bottom: vwset(5);
      @include font-sp-style(16,30);
    }
  
    &__result-item {
      @include font-sp-style(16,30);
    }
  
    &--gray {  
      #{$this}__inner {
        margin-block: 0;
        padding: vwset(45) 0;
      }
    }
  }

  &--margin-m {
    margin-top: 35px;

    @include media(sm) {
      margin-top: vwset(33);
    }
  }
}
