<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ja">
<head>
    <title>Cookie設定要求画面</title>
    <th:block th:with="addRobots='noindex,follow'">
        <meta th:replace="~{includehm4/head_new}"/>
    </th:block>
</head>
<body id="gotop" class="cookierequired">
<div class="l-mainwrap">
    <div th:replace="~{includehm4/header_new}"></div>
    <main class="l-page l-head__pattern1">
        <div class="l-head__pattern1__content">
            <div class="l-container">
                <div class="l-main full">
                    <div class="regist__complete">
                        <p class="c-text--l-center c-font-bold">当ショップをご利用になるにはCookieが必要です。</p>
                        <p class="c-text--m-center c-margin--xs">恐れいりますが、ご利用ブラウザのCookie設定を有効にしてから再度アクセスをお願いいたします。</p>
                    </div>
                    <div class="c-btn-wrap--2btn lg-rev c-margin--xl"><a th:href="@{/index.html}" class="c-btn--blue">トップページへ</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{includehm4/footer_new}"></div>
</div>
<script th:src="@{/hm4/assets/js/bundle.js}" defer="defer"></script>
</body>
</html>
