<!--PDR Migrate Customization from here-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>メール配信状況確認完了通知</title>
</head>
<body>
<div>
    <span th:text="メール配信状況確認完了通知"></span>
    <br>
    <br>
    <span th:text="${admin.get('PROCESS_NAME')} + 'が終了しました。'"></span>
    <br>
    <br>
    <span th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(admin.get('RESULT')),'\n','&lt;br /&gt;'))}"></span>
    <br>
    <br>
    <span>以上</span>
</div>
</body>
</html>
<!--PDR Migrate Customization from here-->
