<!--2023-renew No3 from here-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>エラー商品フィード出力バッチ</title>
</head>
<body>
<div>
    <span th:text="${error.get('BATCH_NAME')} + 'が終了しました。'"></span>
    <br>
    <br>
    <span>処理結果：異常終了</span>
    <br>
    <br>
    <span>予期せぬエラーが発生したため異常終了しています。</span>
    <br>
    <span th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(error.get('RESULT')),'\n','&lt;br /&gt;'))}"></span>
    <br>
    <br>
    <span>【リカバリ方法】</span>
    <br>
    <span>エラー原因解消後、</span>
    <span th:text="${error.get('BATCH_NAME')} + 'を再実行してください。'"></span>
    <br>
    <br>
    <br>
    <span>以上</span>
</div>
</body>
</html>
<!--2023-renew No3 to here-->
