<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>結果レポート</title>
</head>
<body>
<div>
    <span th:text="${admin.get('SYSTEM')} + 'の' + ${admin.get('BATCH_NAME')} + 'が終了しました。'"></span>
    <br>
    <br>
    <span>受注CSVのダウンロードが完了しました。</span>
    <br>
    <br>
    <span>-----</span>
    <br>
    <br>
    <span th:text="'【処理開始日時】 ' + ${admin.get('PROCESS_START_DATE')}"></span>
    <br>
    <span th:text="'【処理件数】 ' + ${admin.get('PROCESS_COUNT')} + '件'"></span>
    <br>
    <span th:text="'ダウンロード先URLはこちら : ' + ${admin.get('FILE_DL_URL')}"></span>
    <br>
    <span th:text="'※処理開始日時から' + ${admin.get('PERIOD')} + '日後の' + ${admin.get('DELETE_DATE')} + 'にファイルは削除されます。'"></span>
    <br>
    <br>
    <span>以上</span>
</div>
</body>
</html>
