<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>エラー通知</title>
</head>
<body>
<div>
    <span th:text="${error.get('SYSTEM')} + 'の' + ${error.get('BATCH_NAME')} + 'が異常終了しました。'"></span>
    <br>
    <br>
    <span>受注CSVのダウンロードが異常終了しました。ファイルの生成は実施されておりません。</span>
    <br>
    <span>詳しくはサーバログを参照してください。</span>
    <br>
    <br>
    <span>-----</span>
    <br>
    <br>
    <span th:text="'【処理開始日時】 ' + ${error.get('PROCESS_START_DATE')}"></span>
    <br>
    <br>
    <span>以上</span>
</div>
</body>
</html>
