<!--2023-renew No25 from here-->
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <title>会員ID・仮パスワードのお知らせ</title>
</head>
<body>
<div>
    <div>
        <span>┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</span>
    </div>
    <div>
        <span>■　ピーディーアールオンラインショップ</span>
    </div>
    <div>
        <span>■　会員ID・仮パスワードのお知らせ</span>
    </div>
    <div>
        <span>┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</span>
    </div>
</div>
<br>
<div>
    <div>
        <span>　</span><span th:text="${mailContentsMap.get('M_LAST_NAME')} + ' 様'"></span>
    </div>
    <br>
    <div>
        <span>　ピーディーアールオンラインショップをご利用いただき</span>
    </div>
    <div>
        <span>　誠にありがとうございます。</span>
    </div>
    <br>
    <div>
        <span>　会員IDと仮パスワードを送信いたします。</span>
    </div>
    <div>
        <span>　下記URLからログインしていただき、お客様ご自身でパスワードを変更後、</span>
    </div>
    <div>
        <span>　ご利用いただけます。</span>
    </div>
    <div>
        <span>　</span><span th:text="${mailContentsMap.get('M_LAST_NAME')} + ' 様のご利用を心よりお待ちしております。'"></span>
    </div>
</div>
<br>
<div>
    <span>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</span>
</div>
<div>
    <div>
        <span>　</span><span th:text="'【会員ID（お客様番号）】' + ${mailContentsMap.get('M_CUSTOMERNO')}"></span>
    </div>
    <br>
    <div>
        <span>　</span><span th:text="'【仮パスワード】' + ${mailContentsMap.get('M_PASSWORD')}"></span>
    </div>
    <br>
    <div>
        <span>◆下記のURLよりログインしていただき、パスワードをご変更ください。</span>
    </div>
    <div>
        <span>　</span><span th:text="${hostUrl} + 'login/member.html'"></span>
    </div>
</div>
<br>
<div>
    <span>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</span>
</div>
<br>
<div th:replace="~{common/signature}"></div>
<br>
</body>
</html>
<!--2023-renew No25 to here-->
