<!--// PDR Migrate Customization from here-->
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <title>顧客番号・パスワード通知メール_初回</title>
</head>
<body>
<div>
    <div>
        <span>┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</span>
    </div>
    <div>
        <span>■　ピーディーアールオンラインショップ</span>
    </div>
    <div>
        <span>■　会員ID・初回パスワードのお知らせ(会員登録手続き完了）</span>
    </div>
    <div>
        <span>┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</span>
    </div>
</div>
<br>
<div>
    <div>
        <div>
            <span>　</span><span th:text="${mailContentsMap.get('M_LAST_NAME')} + ' 様'"></span>
        </div>
        <br>
        <div>
            <span>　ピーディーアールオンラインショップをご利用いただき</span>
        </div>
        <div>
            <span>　誠にありがとうございました。</span>
        </div>
        <div>
            <span>　会員登録の手続きが完了しましたのでお知らせいたします。</span>
        </div>
        <div>
            <span>　下記URLからログインしていただき、お客様ご自身でパスワードを変更後、</span>
        </div>
        <div>
            <span>　ご利用いただけます。</span>
        </div>
        <div>
            <span>　</span><span th:text="${mailContentsMap.get('M_LAST_NAME')} + ' 様のご利用を心よりお待ちしております。'"></span>
        </div>
    </div>
    <br>
    <div>
        <span>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</span>
    </div>
    <div>
        <div>
            <span>　</span><span th:text="'【会員ID（お客様番号）】' + ${mailContentsMap.get('M_CUSTOMERNO')}"></span>
        </div>
        <br>
        <div>
            <span>　</span><span th:text="'【初回パスワード】' + ${mailContentsMap.get('M_PASSWORD')}"></span>
        </div>
        <br>
        <!--            PDR Migrate Customization from here-->
        <div>
            <span>◆下記のURLよりログインしていただき、初回パスワードをご変更ください。</span>
        </div>
        <div>
            <span>　<a th:href="${hostUrl} + 'login/member.html'"
                      th:text="${hostUrl} + 'login/member.html'"></a></span>
        </div>
        <br>
        <div>
            <span>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</span>
        </div>
        <div>
            <span>※本メールは送信専用メールアドレスから自動で配信しております。</span>
        </div>
        <div>
            <span>　ご返信いただいてもお答えできませんのでご了承ください。</span>
        </div>
        <div>
            <span>　このメールにお心当たりのない方・お問い合わせは、下記お問い合わせURLから</span>
        </div>
        <div>
            <span>　入力いただくか、下記カスタマーサービスデスクまでご連絡ください。</span>
        </div>
    </div>
</div>
<div th:replace="~{common/signature}"></div>
</body>
</html>
<!--// PDR Migrate Customization to here-->
