<header class="l-small-header">
    <div class="l-small-header__container">
        <div class="l-small-header__inner">
            <div class="l-small-header__main">
                <h1 class="l-small-header__logo"><a th:href="@{/index.html}"><img
                        th:src="@{/newdesign/assets/images/common/logo.svg}" width="86" alt="P.D.R."></a></h1>
                <p class="l-small-header__discription">
                    <span>歯科材料の通販 </span><span>ピーディーアールの公式オンラインショップ </span>
                </p>
            </div>
        </div>
    </div>
</header>