<div class="l-side l-side-member">
  <a th:href="@{/member/index.html}" class="l-side-member__top c-button">マイページトップ</a>
  <dl class="l-side-member__unit">
    <dt class="l-side-member__title">お知らせ</dt>
    <dd>
      <a th:href="@{/member/coupon/index.html}" class="l-side-member__link">クーポン一覧</a>
      <a th:href="@{/member/favorite/index.html}" class="l-side-member__link">お気に入り商品一覧</a>
      <a th:href="@{/member/restock/index.html}" class="l-side-member__link">⼊荷お知らせ一覧</a>
    </dd>
  </dl>
  <dl class="l-side-member__unit">
    <dt class="l-side-member__title">購入履歴</dt>
    <dd>
      <a th:href="@{/member/history/unshipped.html}" class="l-side-member__link">発送前のご注⽂<br><small>（キャンセルされる方はこちら）</small></a>
      <a th:href="@{/member/history/shipped.html}" class="l-side-member__link">発送済のご注文</a>
    </dd>
  </dl>
  <dl class="l-side-member__unit">
    <dt class="l-side-member__title">登録情報の確認‧変更</dt>
    <dd>
      <a th:href="@{/member/confirm/index.html}" class="l-side-member__link">会員情報・メール配信設定</a>
      <a th:href="@{/member/abook/index.html}" class="l-side-member__link">お届け先リスト<br class="l-lg"><small>（会員住所以外）</small></a>
      <a th:href="@{/member/card/index.html}" class="l-side-member__link">カード情報</a>
      <a th:href="@{/member/pass/index.html}" class="l-side-member__link">パスワード</a>
      <a th:href="@{/member/mail/index.html}" class="l-side-member__link">メールアドレス</a>
    </dd>
  </dl>
  <dl class="l-side-member__unit">
    <dt class="l-side-member__title">お問い合わせ</dt>
    <dd>
      <a th:href="@{#}" class="l-side-member__link">お問い合わせ・よくある質問</a>
    </dd>
  </dl>
</div>
