<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      lang="ja">
<head>
    <meta th:replace="~{includehm4/head_new}"/>
</head>

<body id="gotop" class="inquiry-detail" th:object="${memberInquiryModel}">
<div class="l-mainwrap">
    <div th:replace="~{includehm4/header_new}"></div>
    <!-- main -->
    <main class="l-page l-head__pattern1">
        <div class="l-breadcrumbs" typeof="BreadcrumbList" vocab="https://schema.org/">
            <div class="l-breadcrumbs__inner">
                <div class="l-breadcrumbs__list">
                    <div class="l-breadcrumbs__item" property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="TOP" href="/">
                            <span property="name">TOP</span>
                        </a>
                        <meta property="position" content="1">
                    </div>
                    <svg viewBox="0 0 10.1 18.2" style="fill:#a0a0a0;">
                        <use th:attr="'xlink:href'=@{/hm4/assets/images/icon/arrow-right.svg#arrow-right}"></use>
                    </svg>
                    <div class="l-breadcrumbs__item" property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="マイページ" href="/member/">
                            <span property="name">マイページ</span>
                        </a>
                        <meta property="position" content="2">
                    </div>
                    <svg viewBox="0 0 10.1 18.2" style="fill:#a0a0a0;">
                        <use th:attr="'xlink:href'=@{/hm4/assets/images/icon/arrow-right.svg#arrow-right}"></use>
                    </svg>
                    <div class="l-breadcrumbs__item" property="itemListElement" typeof="ListItem">
                        <span property="name">お問い合わせ履歴詳細</span>
                        <meta property="position" content="3">
                    </div>
                </div>
            </div>
        </div>
        <div class="l-head__pattern1__content">
            <h2 class="c-title--page mypage__title">
                <strong>お問い合わせ履歴詳細</strong>
            </h2>
            <div class="l-container l-head__pattern1__content-main">
                <div th:replace="~{includehm4/sidemenumember_new :: sidemenumember('inquiry')}"></div>
                <div class="l-main">
                    <div th:if="${allMessages}" class="c-alert__wrap">
                        <ul th:each="message : ${allMessages}">
                            <li class="c-alert--error" th:utext="${message}"></li>
                        </ul>
                    </div>
                    <!--/* QUAD_DESIGN-286 送信成功時のstyle */-->
                    <th:block th:if="*{isReceived()}">
                        <div id="d_complete_unit" class="mb20">
                            <p class="c-alert--info thanks_1">お問い合わせを受付けました。</p>
                        </div>
                    </th:block>
                    <div class="c-history-info-2col">
                        <div class="c-history-info-item">
                            <h3 class="c-history-info-item__title c-title--section">お問い合わせ情報</h3>
                            <div class="c-history-info-list">
                                <dl>
                                    <dt class="c-history-info-list__title c-text--s">お問い合わせ日</dt>
                                    <dd class="c-history-info-list__detail c-text--s c-font-bold" id="firstInquiryTime"
                                        th:text="*{#date.convert(firstInquiryTime)} + ' ' + *{#date.convert(firstInquiryTime,'HH:mm')}"></dd>
                                </dl>
                                <dl>
                                    <dt class="c-history-info-list__title c-text--s">お問い合わせ状況</dt>
                                    <dd class="c-history-info-list__detail c-text--m">
                                        <th:block th:switch="*{inquiryStatusValue}">
                                            <div th:case="0" class="c-history-info-list__btn c-label-status--blue"><p
                                                    class="c-label-status c-text--m c-font-bold" id="inquiryStatus"
                                                    th:text="*{inquiryStatus}"></p></div>
                                            <div th:case="1" class="c-history-info-list__btn c-label-status--orange"><p
                                                    class="c-label-status c-text--m c-font-bold" id="inquiryStatus"
                                                    th:text="*{inquiryStatus}"></p></div>
                                            <div th:case="2" class="c-history-info-list__btn c-label-status--black"><p
                                                    class="c-label-status c-text--m c-font-bold" id="inquiryStatus"
                                                    th:text="*{inquiryStatus}"></p></div>
                                        </th:block>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt class="c-history-info-list__title c-text--s">お問い合わせ番号</dt>
                                    <dd class="c-history-info-list__detail c-text--s c-font-bold" id="inquiryCode"
                                        th:text="*{inquiryCode}"></dd>
                                </dl>
                                <dl>
                                    <dt class="c-history-info-list__title c-text--s">分類</dt>
                                    <dd class="c-history-info-list__detail c-text--s c-font-bold"
                                        id="inquiryGroupName-1" th:text="*{inquiryGroupName}"></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="c-history-info-item">
                            <h3 class="c-history-info-item__title c-title--section">お客様情報</h3>
                            <div class="c-history-info-list">
                                <dl>
                                    <dt class="c-history-info-list__title c-text--s">氏名</dt>
                                    <dd class="c-history-info-list__detail c-text--s c-font-bold" id="inquiryName"
                                        th:text="*{inquiryName}"></dd>
                                </dl>
                                <dl>
                                    <dt class="c-history-info-list__title c-text--s">フリガナ</dt>
                                    <dd class="c-history-info-list__detail c-text--s c-font-bold" id="inquiryKana"
                                        th:text="*{inquiryKana}"></dd>
                                </dl>
                                <dl>
                                    <dt class="c-history-info-list__title c-text--s">電話番号</dt>
                                    <dd class="c-history-info-list__detail c-text--s c-font-bold" id="inquiryTel"
                                        th:text="*{inquiryTel}"></dd>
                                </dl>
                                <dl>
                                    <dt class="c-history-info-list__title c-text--s">メールアドレス</dt>
                                    <dd class="c-history-info-list__detail c-text--s c-font-bold" id="inquiryMail"
                                        th:text="*{inquiryMail}"></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <section class="c-margin--xl">
                        <h3 class="c-title--line c-font-bold">お問い合わせ内容</h3>
                        <th:block id="inquiryPageItems" th:each="item, stat : *{inquiryModelItems}">
                            <th:block id="isConsumer" th:if="${item.isConsumer()}">
                                <div class="c-history-chat"
                                     th:classappend="${stat.first} ? 'contact-title question' : 'question'">
                                    <div class="c-history-chat__inner"
                                         th:classappend="${stat.last} ? 'c-history-chat__inner--last'">
                                        <th:block th:if="${stat.first}">
                                            <h4 class="post-title" th:id="'inquiryGroupName-'+${stat.index}"
                                                th:text="*{inquiryGroupName}"></h4>
                                        </th:block>
                                        <div class="post-info">
                                            <span class="icon-question c-text--m c-font-bold"
                                                  th:text="*{inquiryName} + ' 様'"></span>
                                            <span class="post-time c-text--s" th:id="'inquiryTime-'+ ${stat.index}"
                                                  th:text="${#date.convert(item.inquiryTime)} + ' ' + ${#date.convert(item.inquiryTime,'HH:mm')}"></span>
                                        </div>
                                        <div class="post-txt">
                                            <p th:id="'inquiryBody-'+${stat.index}" th:utext="${#pre.convert(item.inquiryBody)}"></p>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                            <th:block id="isNotConsumer" th:if="${!item.isConsumer()}">
                                <div class="c-history-chat answer">
                                    <div class="c-history-chat__inner"
                                         th:classappend="${stat.last} ? 'c-history-chat__inner--last'">
                                        <div class="post-info">
                                            <span class="icon-question c-text--m c-font-bold"
                                                  th:text="${item.operator}"></span>
                                            <span class="post-time c-text--s" th:id="'inquiryTime-'+ ${stat.index}"
                                                  th:text="${#date.convert(item.inquiryTime)} + ' ' + ${#date.convert(item.inquiryTime,'HH:mm')}"></span>
                                        </div>
                                        <div class="post-txt">
                                            <p th:id="'inquiryBody-'+${stat.index}" th:utext="${#pre.convert(item.inquiryBody, false)}"></p>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </section>
                    <form id="inquiryForm" th:action="@{/member/inquiry/detail.html}" method="post">
                        <section class="c-margin--xl">
                            <!--/* 受付中 */-->
                            <th:block id="isNotCompletion" th:if="*{!isCompletion()}">
                                <div class="customer-input">
                                    <h4>お客様入力欄</h4>
                                    <textarea class="c-text-area" placeholder="ここに入力してください" id="inputInquiryBody"
                                              name="inputInquiryBody" th:field="*{inputInquiryBody}" title="お客様入力欄"
                                              th:errorclass="field-error"></textarea>
                                    <div th:if="${#fields.hasErrors('inputInquiryBody')}"
                                         th:errors="*{inputInquiryBody}" class="field-error-message"></div>
                                    <div class="c-btn-wrap--2btn lg-rev c-margin--xs">
                                        <!--/* <button href="/" name="" type="submit" class="c-btn--blue">お問い合わせを送信する</button>  */-->
                                        <button id="doOnceInquiryUpdate" name="doOnceInquiryUpdate" type="submit"
                                                class="c-btn--blue">お問い合わせを送信する
                                        </button>
                                        <button type="button" class="c-btn--simple"><a th:href="@{/member/inquiry/index.html}">お問い合わせ一覧へ戻る</a>
                                        </button>
                                    </div>
                                </div>
                            </th:block>
                            <!--/* 完了 */-->
                            <th:block id="isCompletion" th:if="*{isCompletion()}">
                                <div class="c-btn-wrap--2btn lg-rev c-margin--xs">
                                    <button type="button" class="c-btn--simple"><a th:href="@{/member/inquiry/index.html}">お問い合わせ一覧へ戻る</a>
                                    </button>
                                </div>
                            </th:block>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{includehm4/footer_new}"></div>
</div>
<script src="/hm4/assets/js/bundle.js" defer="defer"></script>
</body>
</html>
