@charset "UTF-8";


/* BUTTON
---------------------------------------------------- */
.transition0 {
	margin-top: 20px;
	padding: 20px 30px;
	background: #CC0000;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}
.transition1 {
	margin-top: 20px;
	padding: 12px 30px;
	background: #F9F5E5;
	text-align: center;
}
.transition1 table {
	margin: 0 auto;
}
.transition1 td {
	padding: 0 10px;
}
.transition2 {
	margin-top: 20px;
	padding: 12px 30px;
	background: #F9F5E5;
}
.transition3 {
	margin-top: 20px;
	padding: 12px 30px;
	background: #F9F5E5;
	text-align: center;
}
.transition3 table {
	margin: 0 auto;
	width: 100%;
}
.transition3 td {
	line-height: 1.5;
}
.transition3 td.prev {
	text-align: left;
}
.transition3 td.next {
	text-align: right;
}

/* COMMON
---------------------------------------------------- */
#mock,
#mock-comment {
	display: none;
}
p#d_page_top {
	margin-top: 30px;
	text-align: right;
}
.d_nwlabel label {
	margin: 0;
	padding: 2px 10px 2px 0;
	display: block;
	white-space: nowrap;
}
.diff {
	background: #FFCC88 !important;
}
.t-left {
	text-align: left !important;
}
.t-center {
	text-align: center !important;
}
.t-right {
	text-align: right !important;
}
.w100pct {
	width: 100%;
}
.break-all {
	word-break: break-all;
}
.break-word{
	word-break: break-word;
}

/* COMPLETE
---------------------------------------------------- */
#d_complete_unit {
	margin: 30px 20px 0;
	padding: 60px;
	text-align: center;
	background: #fceff4;
}
#d_complete_unit2 {
	padding: 40px 20px;
	text-align: left;
	background: #f9f5e5;
}
#d_complete_unit p.user_info {
	padding: 15px 0;
	margin: 30px auto;
	width: 80%;
	line-height: normal;
	background: #FFFFFF;
	color: #CC0000;
}
#d_complete_unit p.thanks_2 {
	margin: 30px 0 0 0 ;
	line-height: 1.8;
}

/* DISPLAY ITEM -LIST-
---------------------------------------------------- */
.itemGroupLists {
}
table.singleL {
	width: 100%;
	border-bottom: 1px dotted #666666;
}
table.singleL th {
	padding: 10px;
	width: 60px;
}
table.singleL td.info {
	padding: 10px 0;
	word-break: break-all;
	word-wrap: break-word;
}
table.singleL td.info .icon img {
	margin: 0 5px 5px 0;
}
table.singleL td.info .name {
	margin-bottom: 3px;
	line-height: 1.3;
}
table.singleL td.info .type {
	margin-top: 5px;
	font-size: 11px;
	line-height: 1.5;
}
table.singleL td.info .outline {
	margin-top: 5px;
	line-height: 1.5;
}
table.singleL td.price {
	padding: 10px;
	width: 120px;
}
table.singleL td.price .sale_icon,
table.singleL td.info .sale_icon {
	margin-bottom: 3px;
	text-align: center;
}
table.singleL td.price .sale_comment,
table.singleL td.info .sale_comment {
	margin-bottom: 3px;
	color: #990000;
	font-weight: bold;
	line-height: 1.3;
	text-align: center;
}
table.singleL td.price .sale_price,
table.singleL td.info .sale_price,
table.singleL td.price .reservation_sale_price {
	color: #990000;
	font-weight: bold;
	line-height: 1.3;
	text-align: center;
}
table.singleL td.info .sale_icon,
table.singleL td.info .sale_comment,
table.singleL td.info .sale_price {
	text-align: left;
}
table.singleL td.price .price,
table.singleL td.price .sale_prePrice {
	color: #000000;
	line-height: 1.3;
	text-align: center;
}
table.singleL td.info .sale_comment {
	margin-top: 3px;
}
table.singleL td.option {
	width: 170px;
}
table.singleL td.cartin {
	padding-left: 10px;
	width: 91px;
}
#d_cart_wrapping table.singleL th {
	padding: 5px;
	width: 118px;
}
#d_cart_wrapping table.singleL td.info {
	padding: 5px;
	width: auto;
}


/* DISPLAY ITEM -THUMBSNAIL-
---------------------------------------------------- */
.itemGroupThumbs {
	overflow: hidden;
	zoom: 1;
}
.itemGroupThumbs:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	line-height: 0;
	visibility: hidden;
}
.itemGroupThumbs .last {
}
div.singleL {
	float: left;
	width: 120px;
	padding: 10px 8px;
}
div.singleL dt {
	margin-bottom: 5px;
	border: 1px solid #ebebeb;
}
div.singleL dd {
	word-break: break-all;
	word-wrap: break-word;
}
div.singleL dd.icon img {
	margin: 0 5px 5px 0;
}
div.singleL dd.name {
	margin-bottom: 3px;
	line-height: 1.3;
	word-break: break-word;
}
div.singleL dd.type {
	margin-bottom: 3px;
	line-height: 1.3;
	word-break: break-word;
}
div.singleL dd.price {
	line-height: 1.3;
	text-align: left;
}
div.singleL dd.sale_price,
div.singleL span.sale_price,
div.singleL dd.reservation_sale_price {
	color: #990000;
	font-weight: bold;
	line-height: 1.3;
	text-align: center;
}
div.singleL dd.sale_prePrice,
div.singleL span.sale_prePrice {
	color: #000000;
	line-height: 1.3;
	text-align: center;
}
div.singleL dd.sale_comment,
div.singleL span.sale_comment {
	margin-bottom: 3px;
	color: #990000;
	font-weight: bold;
	line-height: 1.3;
	text-align: center;
}
div.singleL dd.normalPriceComent {
	margin-bottom: 3px;
	font-weight: bold;
	line-height: 1.3;
}
div.singleL dd.reservationsPriceComent {
	margin-bottom: 3px;
	color: #990000;
	font-weight: bold;
	line-height: 1.3;
}
div.singleL dd.sale_icon {
	margin-bottom: 3px;
	text-align: center;
}
div.singleL dd.stock_icon,
div.singleL dd.cartin {
	margin-top: 3px;
	text-align: center;
}

/* FLOW -ORDER-
---------------------------------------------------- */
#d_order_flow {
 margin: 0px 0 20px;
 width: 880px;
 height: 34px;
}
#d_order_flow p {
 height: 34px;
 background: url(@app.complement.url@/images/order/flow-splite-new.gif) 0 0 no-repeat;
}
#d_order_flow p span {
 display: none;
}
#d_order_flow p#d_order_1 {
 background-position: 0 0;
}
#d_order_flow p#d_order_2 {
 background-position: 0 -35px;
}
#d_order_flow p#d_order_3 {
 background-position: 0 -70px;
}
#d_order_flow p#d_order_4 {
 background-position: 0 -104px;
}
#d_order_flow p#d_order_5 {
 background-position: 0 -139px;
}
#d_order_flow p#d_order_6 {
 background-position: 0 -174px;
}
#d_order_flow p#d_order_7 {
 background-position: 0 -208px;
}
#d_order_flow p#d_order_8 {
 background-position: 0 -243px;
}

/* FLOW -REGIST-
---------------------------------------------------- */
#d_regist_flow {
	margin-bottom: 30px;
	height: 38px;
	width: 880px;
}
#d_regist_flow p {
	height: 38px;
	background: url(@app.complement.url@/images/regist/flow_splite.gif) 0 0 no-repeat;
}
#d_regist_flow p span {
	display: none;
}
#d_regist_flow p#d_regist_1 {
	background-position: 0 -38px;
}
#d_regist_flow p#d_regist_2 {
	background-position: 0 -76px;
}
#d_regist_flow p#d_regist_3 {
	background-position: 0 -114px;
}
#d_regist_flow p#d_regist_4 {
	background-position: 0 -152px;
}
#d_regist_flow p#d_regist_5 {
	background-position: 0 -190px;
}

/* FOOT PRINT
---------------------------------------------------- */
#d_foot_mark {
	margin-top: 30px;
}
#d_foot_mark p {
	margin-top: -30px;
	padding: 6px 10px 6px 0;
	text-align: right;
}

/* HORIZON SCROLL
---------------------------------------------------- */
.horizonScroll {
	overflow: hidden;
	_zoom: 1;
}
.horizonScroll .itemGroupThumbs {
	overflow: hidden;
	float: left;
}
.horizonScroll td {
	width: 122px;
	vertical-align: top;
}
.horizonScroll div.singleL {
	float: none;
}
.horizonScroll .next,
.horizonScroll .back {
	float: left;
	width: 26px;
	cursor: pointer;
	height: 30px;
}
.horizonScroll .next {
	margin-left: 14px;
	background: url(@app.complement.url@/images/button/mylist_next.gif) center left no-repeat;
}
.horizonScroll .back {
	margin-right: 14px;
	background: url(@app.complement.url@/images/button/mylist_back.gif) center left no-repeat;
}

/* INPUT
---------------------------------------------------- */
input.w1,
textarea.w1 {
	width: 30px;
	padding: 2px;
}
input.w2,
textarea.w2 {
	width: 100px;
	padding: 2px;
}
input.w3,
textarea.w3 {
	width: 200px;
	padding: 2px;
}
input.w4,
textarea.w4 {
	width: 300px;
	padding: 2px;
}
input.w5,
textarea.w5 {
	width: 400px;
	padding: 2px;
}
input.w6,
textarea.w6 {
	width: 650px;
	padding: 2px;
}
input.w7 {
	width: 40px;
	padding: 2px;
}
/* INPUT ERROR
---------------------------------------------------- */
.inputError {
	padding: 15px 15px 15px 15px;
	margin: 8px 0 10px 0;
	background: #FFF0F0;
}
.inputError ul,
.inputError li {
	margin: 0;
	list-style: none;
}
.inputError li {
	font-weight: bold;
	color: #FF0000;
	line-height: 1.5;
}

.errorPart {
	background: #fff991 !important;
}
/* radio / checkbox用 */
table.errorPart {
	width:100% !important;
}
table.errorPart td {
	background: #fff991 !important;
}

/* INPUT WARN
---------------------------------------------------- */
.inputWarn {
	padding: 15px 15px 15px 15px;
	margin: 8px 0 10px 0;
	background: #FFFF99;
}
.inputWarn ul,
.inputWarn li {
	margin: 0;
	list-style: none;
}
.inputWarn li {
	font-weight: bold;
	line-height: 1.5;
}

/* INPUT INFO
---------------------------------------------------- */
.inputInfo {
	padding: 15px 15px 15px 15px;
	margin: 8px 0 10px 0;
	background: #E8F2FE;
}
.inputInfo ul,
.inputInfo li {
	margin: 0;
	list-style: none;
}
.inputInfo li {
	font-weight: bold;
	line-height: 1.5;
}

/* MYLIST
---------------------------------------------------- */
#d_mylist {
	margin-top: 30px;
}
#d_mylist p {
	margin-top: -30px;
	padding: 6px 10px 6px 0;
	text-align: right;
}

/* PAGE CHANGE VIEW
---------------------------------------------------- */
.change_view {
	height: 18px;
}
.change_view table.display {
	float: left;
}
.change_view table.order {
	margin-left: 10px;
	float: right;
}
.change_view table.sort {
	float: right;
}
.pnTp {
	margin: 10px 0 20px 0;
    padding: 0 14px 13px 9px;
    background: url(@app.complement.url@/images/common/bg_pnTp.gif) bottom left no-repeat;
}
.pnBt {
	margin-top: 20px;
    padding: 13px 14px 0 9px;
    background: url(@app.complement.url@/images/common/bg_pnBt.gif) 0 0 no-repeat;
}

/* PAGE NATION
---------------------------------------------------- */
#d_page_nation {
	margin: 10px 0;
}
#d_page_nation table {
	margin: 0 auto;
}
#d_page_nation th {
	width: 69px;
}
#d_page_nation td {
	padding: 0 10px;
}
#d_page_nation td span,
#d_page_nation td a {
	padding: 1px 3px;
	border: 1px solid #dfdfdf;
	zoom: 100%;
}
#d_page_nation td a.pageMove {
	padding: 1px 3px;
	border: none;
	background: none !important;
	zoom: 100%;
}
#d_page_nation td span {
	color: #FF9000;
	background: #FFFFFF;
}
#d_page_nation td a {
	text-decoration: none;
}
#d_page_nation td a:hover {
	background: #ffE8B0;
}

/* RELATED ITEM
---------------------------------------------------- */
#d_related {
	margin-top: 30px;
}

/* SOCIAL MEDIA
---------------------------------------------------- */
#d_socialmedia {
	margin: 15px 0;
	padding: 15px 0;
	height: 21px;
	border-top: 1px dotted #333333;
	border-bottom: 1px dotted #333333;
}
#d_socialmedia div {
	float: left;
}
#d_socialmedia div.fb-like {
	float: none;
}
#d_socialmedia_complete {
	margin: 30px 0;
	border-top: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
	border-left: 1px solid #E3E3E3;
	background: #F8F8F8;
}
#d_socialmedia_complete .items {
	padding: 10px 15px;
	border-bottom: 1px solid #E3E3E3;
}
#d_socialmedia_complete .items table {
	width: 100%;
}
#d_socialmedia_complete .items th {
	padding-right: 10px;
	width: 62px;
}
#d_socialmedia_complete .items th.pl {
	width: 90px;
}
#d_socialmedia_complete .items th img {
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #DEDEDE;
}
#d_socialmedia_complete #SnsImageSelectPrev {
	float: left;
	width: 12px;
	height: 60px;
	padding-right: 2px;
}
#d_socialmedia_complete #SnsImageSelectPrev a {
	display: block;
	width: 12px;
	height: 60px;
    background: url(@app.complement.url@/images/button/snsitem_prev.gif) center center no-repeat;
}
#d_socialmedia_complete #SnsImageSelectNext {
	float: right;
	width: 12px;
	height: 60px;
	padding-left: 2px;
}
#d_socialmedia_complete #SnsImageSelectNext a {
	display: block;
	width: 12px;
	height: 60px;
    background: url(@app.complement.url@/images/button/snsitem_next.gif) center center no-repeat;
}
#d_socialmedia_complete .items td.btn {
	width: 190px;
}
#d_socialmedia_complete .items td.btn a {
	display: block;
	float: left;
	width: 190px;
	margin: 3px 0;
}

#previewSns{
    text-align: center;
    background-color: cornflowerblue;
    color: #ffffff;
    margin: 15px 0;
    padding: 15px 0;
    height: 21px;
    border-top: 1px dotted #333333;
    border-bottom: 1px dotted #333333;
}

/* TABLE -INQUIRY-
---------------------------------------------------- */
table#inquiryGroup {
	width: auto;
	padding: 0;
	border-bottom: none;
}
table#inquiryGroup td {
	padding: 2px 0;
	border-bottom: none;
}

/* TABLE -NORMAL-
---------------------------------------------------- */
.basic-table1 {
	border-top: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
}
.basic-table1 table {
	width: 100%;
}
.basic-table1 table.fixed {
	table-layout: fixed;
}
.basic-table1 th,
.basic-table1 td {
	padding: 9px 10px;
	border-bottom: 1px solid #AAAAAA;
	line-height: 1.5;
}
.basic-table1 th.no {
	width: 12px;
	text-align: center;
}
.basic-table1 th {
	width: 150px;
	background: #F9F5E5;
	font-weight: normal;
}
.basic-table1 td {
	background: #FFFFFF;
}
.basic-table1 td.break {
	word-wrap: break-word;
}
.basic-table2 {
	border-top: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
}
.basic-table2 table {
	width: 100%;
}
.basic-table2 th,
.basic-table2 td {
	padding: 5px 7px;
	border-bottom: 1px solid #AAAAAA;
	line-height: 1.5;
}
.basic-table2 th {
	width: 150px;
	background: #E0F4FE;
	font-weight: normal;
}
.basic-table2 td {
	background: #FFFFFF;
}
.basic-table2 table table {
	width: auto;
}
.basic-table2 table table td {
	padding: 0;
	border: none;
}


/* TABLE -ORDER-
---------------------------------------------------- */
#d_order_item {
}
#d_order_item table {
	width: 100%;
}
#d_order_item th,
#d_order_item td {
	padding: 8px;
}

#d_order_item thead th {
	background: #F9F5E5;
	font-weight: normal;
	text-align: center;
}
#d_order_item thead th.goodsName {
	width: 40%;
}
#d_order_item tbody td {
	text-align: center;
	background: #FFFFFF;
	border-bottom: 1px dotted #C0C7C0;
}

#d_order_item tbody tr:last-child {
	border-bottom: 1px solid #C0C7C0;
}

#d_order_item tbody td.itemImg {
	border-left: 0px;
}
#d_order_item tbody td.itemunion {
	border-left: 0px;
	word-break: break-word;
}
#d_order_item tbody td.itemImg {
	width: 60px;
}
#d_order_item tbody td.item {
	text-align: left;
}
#d_order_item tbody td.item.break {
	word-break: break-word;
}
#d_order_item tbody td.item .note {
	font-size: 11px;
	color: #999999;
	line-height: 1.5;
	word-break: break-word;
}
#d_order_item .price .title {
	display: inline-block;
	width: 100%;
	text-align: left;
}
#d_order_calc {
	padding: 15px 12px 15px 0;
}
#d_order_calc table {
	margin-left: auto;
	width: 400px;
}
#d_order_calc th,
#d_order_calc td {
	padding: 10px 8px;
	border-bottom: 1px solid #000000;
}
#d_order_calc th.taxarea-header {
	vertical-align:top;
}

#d_order_calc td .taxarea {
	text-align: right;
}
#d_order_calc td .taxdetail {
	display:table;
	width:100%;
}
#d_order_calc td .tax-table-row {
	display: table-row;
}
#d_order_calc td .tax-table-cell {
	display: table-cell;
}
#d_order_calc td {
	text-align: right;
}
#d_order_calc_total {
	padding-right: 12px;
	background: #F9F5E5;
}
#d_order_calc_total table {
	margin-left: auto;
	width: 400px;
}
#d_order_calc_total th,
#d_order_calc_total td {
	padding: 12px 8px;
	color: #990000;
	font-size: 16px;
	font-weight: bold;
}
#d_order_calc_total td {
	text-align: right;
}

/* TABLE -STOCK-
---------------------------------------------------- */
.stock_table {
	margin: 0 10px;
}
.stock_table table {
	margin-top: 10px;
	width: 100%;
}
.stock_table th,
.stock_table td {
	padding: 5px 10px;
	background: #FFFFFF;
	text-align: center;
	line-height: 1.5;
}

.stock_table td:last-child {
	word-break:break-word;
}

.stock_table th {
	background: #F5F1D7;
	font-weight: normal;
}

/* TABLE -ZIPCODE-
---------------------------------------------------- */
table.zipcode {
	width: auto !important;
}
table.zipcode td {
	padding: 0 7px 0 0 !important;
	border: none !important;
}

/* TOPIC PATH
---------------------------------------------------- */
#d_topic_path {
	margin-bottom: 10px;
}

/* TEXTS
---------------------------------------------------- */
h2.ct {
	margin: 10px 0 30px 10px;
}
h3.pt {
	margin-bottom: 10px;
}
h4.st {
	margin: 20px 0 10px 8px;
}
.must {
	color: #990000;
}
.sale {
	color: #990000;
}
.retype {
	color: #CC0000;
	font-size: 11px;
	line-height: 2.5;
}
p.noitem {
	margin-bottom: 20px;
	text-align: center;
	color: #CC0000;
	font-size: 16px;
	font-weight: bold;
}
.last_update {
	margin-top: 10px;
	text-align: right;
	font-weight: bold;
}
.ex1 {
	margin-bottom: 10px;
	padding: 10px 15px;
	background: #F3F3F3;
	line-height: 1.5;
}
.ex2 {
	margin-bottom: 10px;
	padding: 10px 15px;
	background: #CC0000;
	color: #FFFFFF;
	line-height: 1.5;
}
.ex3 {
	margin: 20px 10px;
	line-height: 1.8;
}
.ex4 {
	margin: 10px;
	line-height: 1.8;
}
.ex5 {
	font-size: 20px;
}

/* SMARTPHONE SWITCH
---------------------------------------------------- */
#d_smart_switch a {
	display: block;
	padding: 20px 0;
	margin-bottom: 30px;
	background-image: -moz-linear-gradient(left top, #FFFFFF, #FFFFFF 10%, #CCCCCC);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(0.1, #FFFFFF), to(#CCCCCC));
    -webkit-box-shadow: 0 2px 4px #FFFFFF;
	-moz-box-shadow: 0 2px 4px #FFFFFF;
	text-shadow: 2px 4px #FFF;
	-moz-box-shadow: 0 6px 6px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.4);
	color: #0093D7;
	font-size: 38px;
	font-weight: bold;
}

/* SET GOODS
---------------------------------------------------- */
.set_goods_table table {
	width: 100%;
}
.set_goods_table {
}
.set_goods_table .addInfo {
	text-align: center;
	background-color: #f8f8ff;
	font-size: 15px;
	padding: 10px;
}
.set_goods_table .addInfo .emp {
	color: #990000;
	font-weight: bold;
}
.set_goods_table .bundleSelectInfo {
	text-align: right;
	font-size: 15px;
	font-weight: bold;
	padding: 15px 0px;
}
.set_goods_table .bundleSelectInfo #bundleGcntTotal {
	color: #990000;
}
.set_goods_table .cartin {
	text-align: right;
	padding: 15px 0px;
}
.bundle_table table {
	width: 100%;
}
.bundle_table th,
.bundle_table td {
	padding: 10px;
	text-align: center;
}
.bundle_table th {
	background: #f5f1d7;
	font-weight: normal;
}
.bundle_table td {
	line-height: 1.5;
	border-bottom: 1px dotted #666666;
}
.bundle_table .subInfo {
	text-align: left;
	word-break: break-word;
}
.bundle_table td .icon img {
	margin: 0 5px 5px 0;
}
.bundle_table td .price {
	font-weight: bold;
	padding: 3px;
}
.bundle_table td #gcntButton {
	padding: 5px;
}
.saleIconImg {
	text-align: right;
}
.goodsStockPriceOnSale {
	text-align: left;
}

/* GIFT
---------------------------------------------------- */
div.section {
	padding: 15px 10px;
	margin: 15px;
	border: 1px solid #91BA5C;
	border-radius: 10px;
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
	text-align: left;
}

div.gifterror {
	text-align: left;
}

div.table_block {
	margin-bottom: 25px;
	font-size: 13px;
}
div.table_block table{
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
div.table_block th{
	border-bottom: 1px solid #CCC;
	padding: 5px 10px;
	background-color: #E8ECE8;
	vertical-align: top;
}
div.table_block td{
	border-bottom: 1px solid #CCC;
	padding: 5px 10px;
	background-color: #FFF;
}
div.table_block td p{
	line-height: 1.5em;
}

input.form_btn {
	background: url(@app.complement.url@/images/gift/btn_f.gif) no-repeat 0 0;
	margin: 0;
	padding: 0;
}
input.form_btn:hover {
	background: url(@app.complement.url@/images/gift/btn_f.gif) no-repeat 0 -37px;
	margin: 0;
	padding: 0;
}
/*　ボタン（白）　*/
input.form_btn2 {
	background: url(@app.complement.url@/images/gift/btn_f2.gif) no-repeat 0 0;
	margin: 0;
	padding: 0;
}
input.form_btn2:hover {
	background: url(@app.complement.url@/images/gift/btn_f2.gif) no-repeat 0 -37px;
	margin: 0;
	padding: 0;
}

/*　のし一覧　*/
#noshi_list ul{ /zoom : 1; }
#noshi_list ul:after{ content : ''; display : block; clear : both; }
#noshi_list li {
	float: left;
	width: 164px;
	padding: 7px 0;
	margin: 10px 4px 20px 5px;
	border: 1px solid #FFF;
	border-bottom-color: #e7ece8;
	text-align: center;
	position: relative;
	height: 220px;
	overflow: hidden;
}
#noshi_list li.selected {
	border-color: 1px solid #70A040;
}
#noshi_list li div.thumb_img {
	height: 100px;
}
#noshi_list li p{
	line-height: 1.4em;
	letter-spacing: 0;
	text-align:left;
	padding: 5px 10px;
}
#noshi_list li label{
	cursor: pointer;
}
#noshi_list li label.selected{
	font-weight: bold;
	color: #70A040;
}

#noshi_list li p.comment{
	font-size: 12px;
	line-height: 1.4em;
	letter-spacing: 0;
	text-align:left;
	padding: 5px 12px 0 12px;
	margin-bottom: 0;
}
#noshi_list li p.m_link{
	font-size: 12px;
	line-height: 1.4em;
	letter-spacing: 0;
	text-align:left;
	padding: 5px 15px 0 15px;
	margin-bottom: 0;
}

#mizuhiki {
	position: relative;
}
#mizuhiki div.noshi_img{
	position: absolute;
	top: 75px;
	right: 0;
}

.attention {
	font-size: 17px;
	font-weight: bold;
	color: #FF4400;
}

.error_mg {
	font-size: 12px;
	text-align: left;
	color: #FF4400;
}

.undelivery_item {
	margin: 20px 0 4px 8px;
}

.pluginCountButtonNub {
    border-color: transparent #9197a3;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    display: inline-block;
    position: relative;
    top: -6px;
    width: 5px;
    z-index: 2;
}
.pluginCountButton {
    background: white;
    border: 1px solid #9197a3;
    border-radius: 2px;
    color: #4e5665;
    display: inline-block;
    font-size: 11px;
    height: auto;
    line-height: 18px;
    min-width: 15px;
    padding: 0 3px;
    text-align: center;
    white-space: nowrap;
    position:relative;
    top: -7px;
}

/* カートイン確認ダイアログ
---------------------------------------------------- */
.ui-dialog.ui-widget #cartMessage ul li img{
    margin: 5px auto;
}

/*　カートマイリスト追加済 */
#favoriteBtn {
	text-decoration:none;
}

.cartmylistAddComp {
	background: white;
	font-size:8px;
	color:#000000;
	padding:1px;
	width:100px;
	text-align:center;
}
/*　マイリストに追加 */
.cartmylistAdd {
	background: white;
	font-size:8px;
	color:#0875ef;
	padding:1px;
	width:100px;
	text-align:center;
	font-weight:bold;
}
.cartmylistAdd:hover{
	text-decoration:none;
	color:#000000;
}

.previewCartin{
	background-color: cornflowerblue;
    color: #ffffff;
    margin: 15px 0;
    padding: 15px 10px;
    height: 38px;
    border-top: 1px dotted #333333;
    border-bottom: 1px dotted #333333;
}