<!DOCTYPE html>
<html lang="ja">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      lang="ja">
<head>
    <meta th:replace="~{includehm4/head_new}"/>
</head>

<body id="gotop" class="regist">
<div class="l-mainwrap">
    <div th:replace="~{includehm4/header_new}"></div>
    <main class="l-page l-head__pattern2">
        <div class="l-container">
            <div class="l-main full">
                <h2 class="c-title--page"><strong>お問い合わせ</strong></h2>
                <div th:replace="~{includehm4/headerinquiry_new :: headerinquiry('complete')}"></div>
                <div class="regist__block l-head__pattern2__content">
                    <h3 class="c-title--line c-font-bold">お問い合わせ内容の送信</h3>
                </div>
                <div class="regist__complete c-margin--xs">
                    <p class="c-text--m-center">お問い合わせ内容を送信しました。</p>
                </div>
                <div class="c-btn-wrap--2btn c-margin--xl">
                    <a th:href="@{/index.html}" class="c-btn--blue">トップページへ</a>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{includehm4/footer_new}"></div>
</div>
<script th:src="@{/hm4/assets/js/bundle.js}" defer="defer"></script>


</body>
</html>
