@charset "utf-8";

// ==========================================================================
//  p-search
// ==========================================================================

@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;
@use "../Foundation/functions" as *;
@use "../Foundation/icon" as *;


.p-search {

  // ヘッダー
  &__header {
    margin-bottom: 28px;

    &-sort {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      align-items: center;
    }

    &-view {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 28px;

      li {
        width: 35px;
        height: 35px;

        svg {
          width: 100%;
        }

        span svg {
          fill: $color-e6;
        }

        a {
          transition: opacity $comMS $comES;

          svg {
            fill: $color-333;
          }

          &:hover {
            @include media(lg) {
              opacity: .5;
            }
          }

        }  
      }
    }

    &-select {

      &::before {
        right: 20px;
        width: 11px;
        height: 7px;
      }

      select {
        width: 200px;
        height: 50px;
      }
    }

    @include media(sm) {
      margin-inline: vwset(15);

      &-view {
        gap: vwset(20);
  
        li {
          width: vwset(26);
          height: vwset(26);
        }
      }

      &-select {

        &::before {
          right: vwset(14);
          width: vwset(11);
          height: vwset(7);
        }
  
        select {
          width: vwset(160);
          height: vwset(40);
        }
      }
    }
  }

  // 商品全数
  &__count {
    margin-top: 67px;
    text-align: center;
    @include font-style(18, 40);

    &-sum {
      @include font-style(24, 40, bold);
    }

    @include media(sm) {
      margin-top: vwset(35);
      @include font-sp-style(15, 20);

      &-sum {
        @include font-sp-style(20, 20, bold);
      }
    }
  }

  // unisearch
  &__unisearch-word {
    margin-bottom: 50px;

    dl {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: max-content;
      gap: 30px;
    }

    dt {
      @include font-style(16,30,normal);
      color: $color-000;
    }

    a {
      @include font-style(16,30,bold);
      margin-bottom: 16px;

      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    @include media(sm) {
      margin-bottom: vwset(20);

      dl {
        margin-inline: vwset(20);
        grid-auto-flow: row;
        grid-template-columns: auto;
        gap: vwset(5);
      }
  
      dt {
        @include font-sp-style(17,30);
      }
  
      a {
        @include font-sp-style(14,30,bold);
        margin-bottom: vwset(8);
  
        &:not(:last-child) {
          margin-right: vwset(15);
        }
      }
    }
  }

  &__unisearch-hit {
    margin-block: 50px 80px;
    text-align: center;
    @include font-style(22,30);

    strong {
      font-weight: bold;
    }

    em {
      font-style: normal;
      color: $color-primary;
    }

    &--nodata {
      margin-top: 0;
    }

    @include media(sm) {
      margin: vwset(25) vwset(20) vwset(40);
      @include font-sp-style(20,35);

      &--nodata {
        margin-top: 0;
      }

    }
  }

  &__unisearch-title {
    margin-bottom: 15px;
    @include font-style(20,30);
    color: $color-000;

    strong {
      font-weight: bold;
    }

    em {
      font-style: normal;
      color: $color-primary;
    }

    &-sum {
      @include font-style(26,26,bold);
      font-style: normal;
    }

    &--line {
      margin-bottom: 27px;
      padding-bottom: 24px;
      border-bottom: solid 1px $color-e6;
    }

    @include media(sm) {

      margin: 0 vwset(15) vwset(15);
      @include font-sp-style(17,26);
  
      &-sum {
        @include font-sp-style(22,26,bold);
      }
  
      &--line {
        margin-bottom: vwset(25);
        padding-bottom: vwset(20);
      }
    }
  }

  &__unisearch-information {
    margin-top: 40px;
    text-align: center;
    @include font-style(18,22);
    color: $color-000;

    @include media(sm) {
      margin-top: vwset(20);
      @include font-sp-style(17,30);
    }
  }

  &__unisearch-keyword {
    padding: 30px 45px;
    background: $color-orange-lightGray;

    a {
      display: inline-block;
      margin-block: 8px;
      border: solid 1px $color-ccc;
      border-radius: 9999px;
      background: $color-fff;
      padding: 4px 20px;
      @include font-style(15,20,bold);
      transition: opacity $comMS $comES;

      &:not(:last-child) {
        margin-right: 8px;
      }

      &:hover {
        @include media(lg) {
          opacity: .5;
        }
      }
    }

    @include media(sm) {

      padding: vwset(24) vwset(20);
  
      a {
        margin-block: vwset(6);
        padding: vwset(6) vwset(16);
        @include font-sp-style(14,20,bold);
  
        &:not(:last-child) {
          margin-right: vwset(8);
        }
      }


    }


  }

  &__unisearch-list {
    
    margin-bottom: 60px;
    padding-block: 30px;
    background-color: $color-orange-lightGray;
    position: relative;

    &-inner {
      margin-inline: 70px;
      overflow: hidden;
    }

    .swiper-slide {

      @include media(lg) {
        width: 200px;
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .swiper-wrapper {
      display: grid;          // 余白の高さを揃える
      grid-auto-flow: column; // 余白の高さを揃える
      grid-template-columns: max-content;
    }

    // swiper-button
    .swiper-button-prev,
    .swiper-button-next {
      width: 40px;
      height: 40px;
      margin-top: 0;
      background-color: #bbb;
      background-position: center;
      background-size: 10px auto;
      top: 110px;  // 画像に中央配置の場合
      //top: var(--swiper-navigation-top-offset,50%);

      &:after {
        content: none;
      }
    }

    .swiper-button-prev {
      @include icon('arrow-left', 'ffffff');
      left: 0;
    }

    .swiper-button-next {
      @include icon('arrow-right', 'ffffff');
      right: 0;
    }

    @include media(sm) {

      margin-bottom: vwset(40);
      padding-block: vwset(30);
  
      &-inner {
        margin: 0 0 0 5vw;
      }
  
      .swiper-slide {
        width: 49vw;
        margin-inline: 0 7vw;;
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }

  &__unisearch-item {

    &-title {
      margin-top: 15px;
      @include font-style(16,24);
      color: $color-000;

      @include media(sm) {
        margin-top: vwset(12);
        @include font-sp-style(14,25); 
      }
    }
  }





}
