@charset "utf-8";

@use "../Foundation/variables" as *;
@use "../Foundation/mixin" as *;
@use "../Foundation/icon" as *;

.l-headermenu {

  $this: &;
  position: relative;

  &__category-wrap {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    width: 300px;
    height: 360px;
    padding: 20px 59px 20px 28px;
    background-color: $color-fff;
    background-image: url(/ec/shop/sttc/static/assets/images/common/bg_scroll.jpg);
    background-position: right top;
    background-repeat: repeat-y;
    box-shadow: 0 2px 4px rgba(#999, .2);
    // ブラウザ固有のスクロールが出てしまう為、非表示
    //overflow-y: scroll;
    //overflow-x: hidden;

    &.is-active {
      opacity: 1;
      visibility: visible;  
    }

    .simplebar-track {
      width: 19px;
      border-radius: 10px;
    }
    
    .simplebar-track .simplebar-scrollbar.simplebar-visible::before {
      opacity: 1;
    }
    
    .simplebar-track .simplebar-scrollbar::before {
      width: 10px;
      margin-inline: auto;
      background: $color-primary;
    }

    li {
      padding: 9px 0;
      @include font-style(16,22);

      span {
        width: 100%;
        cursor: pointer;

        &:hover {
          color: $color-primary;
          font-weight: bold;
          background-position: right 60%;
          background-size: 9px auto;
          padding-right: 16px;
          @include icon('arrow-right', 'f36b30');
          opacity: 1;
        }
      }

      a {
        width: 100%;
        cursor: pointer;

        &:hover {
          color: $color-primary;
          font-weight: bold;
          opacity: 1;
        }
      }


    }

    &--level1 {
      top: 40px;
      width: 210px;
      transition: opacity $comMS $comES;
      z-index: 20;

      &.is-active {
        top: 50px;
      }
    }

    &--level2 {
      left: 200px;
      z-index: 19;

      &.is-active {
        left: 210px;
        transition: left $comMS $comES;
        transition: left 400ms ease;
      }
    }

    &--level3 {
      left: 500px;
      z-index: 18;

      &.is-active {
        left: 510px;
        transition: left $comMS $comES;
        transition: left 400ms ease;
      }
    }

  }

  &__category--level2 {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &__category--level3 {
    display: none;

    &.is-active {
      display: block;
    }
  }


  // &__category {
  //   opacity: 0;
  //   visibility: hidden;
  //   position: absolute;
  //   top: 50px;
  //   width: 300px;
  //   height: 360px;
  //   padding: 20px 59px 20px 28px;
  //   background-color: $color-fff;
  //   background-image: url(/ec/shop/sttc/static/assets/images/common/bg_scroll.jpg);
  //   background-position: right top;
  //   background-repeat: repeat-y;
  //   box-shadow: 0 2px 4px rgba(#999, .2);
  //   // ブラウザ固有のスクロールが出てしまう為、非表示
  //   //overflow-y: scroll;
  //   //overflow-x: hidden;

  //   &.is-active {
  //     opacity: 1;
  //     visibility: visible;  
  //   }

  //   .simplebar-track {
  //     width: 19px;
  //     border-radius: 10px;
  //   }
    
  //   .simplebar-track .simplebar-scrollbar.simplebar-visible::before {
  //     opacity: 1;
  //   }
    
  //   .simplebar-track .simplebar-scrollbar::before {
  //     width: 10px;
  //     margin-inline: auto;
  //     background: $color-primary;
  //   }

  //   li {
  //     padding: 9px 0;
  //     @include font-style(16,22);

  //     span {
  //       width: 100%;
  //       cursor: pointer;

  //       &:hover {
  //         color: $color-primary;
  //         font-weight: bold;
  //         background-position: right 60%;
  //         background-size: 9px auto;
  //         padding-right: 16px;
  //         @include icon('arrow-right', 'f36b30');
  //         opacity: 1;
  //       }
  //     }

  //     a {
  //       width: 100%;
  //       cursor: pointer;

  //       &:hover {
  //         color: $color-primary;
  //         font-weight: bold;
  //         opacity: 1;
  //       }
  //     }


  //   }

  //   &--level1 {
  //     top: 40px;
  //     width: 210px;
  //     transition: opacity $comMS $comES;
  //     z-index: 20;

  //     &.is-active {
  //       top: 50px;
  //     }
  //   }

  //   &--level2 {
  //     left: 200px;
  //     z-index: 19;

  //     &.is-active {
  //       left: 210px;
  //     }

  //     &.is-move {
  //       transition: left $comMS $comES;
  //       transition: left 400ms ease;
  //     }
  //   }

  //   &--level3 {
  //     left: 500px;
  //     z-index: 18;

  //     &.is-active {
  //       left: 510px;
  //     }

  //     &.is-move {
  //       transition: left $comMS $comES;
  //       transition: left 400ms ease;
  //     }
  //   }

  // }
}


